<section id="forgotPassword" *ngIf="isSettingsLoad" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
	<div class="container-fluid">
		<div class="row full-height-vh">
			<div class="col-12 d-flex align-items-center justify-content-center">
				<div class="card card-inverse indigo-purple-gradient width-400 login-form">
					<div class="login-user-img d-flex justify-content-center">
						<img alt="element 06" class="mb-2" src="{{apiUrl}}/uploads/company_logo/{{settings.company_logo}}"
							width="200" height="96" *ngIf="settings.company_logo">
						<img alt="element 06" class="mb-2" src="assets/img/logos/vipspm_logo_large.png" height="96" width="200"
							*ngIf="!settings.company_logo">
					</div>
					<div class="card-body text-center">
						<div class="card-block">
							<h3 class="text-uppercase mb-3">{{'forgot_password.title' | translate}}</h3>
							<p><small>{{'forgot_password.title1' | translate}}</small></p>
							<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="auth-forms">
								<div class="form-group">
									<div class="col-md-12">
										<input type="text" class="form-control"
											placeholder="{{'forgot_password.create.placeholders.placeholder1' | translate}}"
											formControlName="email" [ngClass]="{ 'is-invalid': userControl.email.errors }" />
										<div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
											<div *ngIf="email.errors.required">{{'forgot_password.create.error_messages.message1' |
												translate}}</div>
											<div *ngIf="email.errors.email">{{'forgot_password.create.error_messages.message2' | translate}}
											</div>
										</div>
									</div>
								</div>
								<div class="form-group mb-0">
									<div class="col-md-12">
										<button type="submit" class="btn btn-submit">{{'common.reset' | translate}}</button>
										<a class="btn btn-cancel" [routerLink]="['/login']">{{'common.cancel' | translate}}</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>