<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;{{'roles.title' |
		translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"
		(click)="bsCreateRoleModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form class="form" [formGroup]="createRoleForm" (ngSubmit)="onSubmit()">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">{{'roles.create.fields.role_name' | translate}}<span
								class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<input type="text" placeholder="{{'roles.create.placeholders.placeholder1' | translate}}"
								class="form-control" formControlName="name"
								[ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }" id="name" />
							<div class="form-control-position">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>
							<div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
								<div *ngIf="name.errors.required">{{'roles.create.error_messages.message1' | translate}}
								</div>
								<div *ngIf="name.errors.maxlength">{{'roles.create.error_messages.message2' | translate}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="slug">{{'roles.create.fields.role_slug' | translate}}<span
								class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<input type="text" placeholder="{{'roles.create.placeholders.placeholder2' | translate}}"
								class="form-control" formControlName="slug"
								[ngClass]="{ 'is-invalid': slug.invalid && (slug.dirty || slug.touched) }" id="slug" />
							<div class="form-control-position">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>
							<div *ngIf="slug.invalid && (slug.dirty || slug.touched)" class="invalid-feedback">
								<div *ngIf="slug.errors.required">{{'roles.create.error_messages.message5' | translate}}
								</div>
								<div *ngIf="slug.errors.maxlength">{{'roles.create.error_messages.message3' | translate}}
								</div>
								<div *ngIf="slug.errors.pattern">{{'roles.create.error_messages.message4' | translate}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="description">{{'roles.create.fields.description' | translate}}</label>
						<app-ngx-editor height="100px" minHeight="50px" [placeholder]="''" [spellcheck]="true"
							formControlName="description" id="description"></app-ngx-editor>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.close' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.create' | translate}}</button>
	</div>
</form>