<section class="hide_empty_message">
    <div class="row">
        <div class="col-sm-12">
            <div class="card pl-2 pr-2 pb-2">
                <!-- Card header -->
                <div class="card-header pl-0 pr-0 border-bottom">
                    <h4 class="main-title mt-2"><span>{{'incidents.title' | translate}}</span></h4>
                    <div class="card-buttons">
                        <a [routerLink]="['/incidents/kanban']" class="btn btn-create mb-0" tooltip="{{'common.switch_to_kanban' | translate}}"><i class="fa fa-trello"></i><span>{{'common.kanban' | translate}}</span></a>
                        <a [routerLink]="['/incidents/create']" *ngxPermissionsOnly="['admin', 'super_admin', 'incidents_create']" class="btn btn-create mb-0" tooltip="{{'common.create' | translate}}"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <!-- Card content -->
                <div class="card-content pt-3">
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Filter buttons -->
                        <div class="d-flex flex-column flex-lg-row d-lg-inline-flex btn-filters mb-3" *ngIf="isPageLoaded">
                            <div class="pr-0">
                                <div class="btn-group mr-2 mb-2">
                                    <label class="btn btn-secondary btn-toggle m-0" [(ngModel)]="incidentFilterKey" (click)="filterByStatus(statusfilterId, incidentFilterKey)" btnRadio="all" tabindex="0" role="button">{{'common.status.all' | translate}}</label>
                                    <label class="btn btn-secondary btn-toggle m-0" [(ngModel)]="incidentFilterKey" (click)="filterByStatus(statusfilterId, incidentFilterKey)" btnRadio="selected" tabindex="0" role="button">{{'common.status.my' | translate}}</label>
                                </div>
                            </div>
                            <div class="pl-lg-0">
                                <button type="button" class="btn btn-raised open" [ngClass]="{'active': statusfilterId==1}" (click)="filterByStatus(1, incidentFilterKey)">
                                    <p>{{'common.status.open' | translate}}</p>
                                    <span class="badge badge-light">
                                        <ng-container *ngIf="countStatus.open || countStatus.re_open; else elseCondition2;">{{countStatus.open + countStatus.re_open}}</ng-container>
                                        <ng-template #elseCondition2>0</ng-template>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-raised assigned" [ngClass]="{'active': statusfilterId ==2}" (click)="filterByStatus(2, incidentFilterKey)">
                                    <p>{{'common.status.assigned' | translate}}</p>
                                    <span class="badge badge-light">
                                        <ng-container *ngIf="countStatus.assigned; else elseCondition3;">{{countStatus.assigned}}</ng-container>
                                        <ng-template #elseCondition3>0</ng-template>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-raised in_progress" [ngClass]="{'active': statusfilterId==3}" (click)="filterByStatus(3, incidentFilterKey)">
                                    <p>{{'common.status.in_progress' | translate}}</p>
                                    <span class="badge badge-light">
                                        <ng-container *ngIf="countStatus.in_progress; else elseCondition4;">{{countStatus.in_progress}}</ng-container>
                                        <ng-template #elseCondition4>0</ng-template>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-raised solved" [ngClass]="{'active': statusfilterId==4}" (click)="filterByStatus(4, incidentFilterKey)">
                                    <p>{{'common.status.solved' | translate}}</p>
                                    <span class="badge badge-light">
                                        <ng-container *ngIf="countStatus.solved || countStatus.deferred || countStatus.closed; else elseCondition5;">{{countStatus.solved + countStatus.deferred + countStatus.closed}}</ng-container>
                                        <ng-template #elseCondition5>0</ng-template>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-raised  btn-secondary" [ngClass]="{'active': statusfilterId ==0}" [routerLink]="['/incidents', 0, incidentFilterKey]">
                                    <p>{{'common.status.total' | translate}}</p>
                                    <span class="badge badge-light">
                                        <ng-container *ngIf="countStatus.all; else elseCondition1;">{{countStatus.all}}</ng-container>
                                        <ng-template #elseCondition1>0</ng-template>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <!-- Incident list datatable -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" width="100%" id="incident_table">
                                        <thead>
                                            <tr>
                                                <th>{{'incidents.columns.id' | translate}}</th>
                                                <th>{{'incidents.columns.incident_name' | translate}}</th>
                                                <th>{{'incidents.columns.start_date' | translate}}</th>
                                                <th>{{'incidents.columns.end_date' | translate}}</th>
                                                <th>{{'incidents.columns.actual_hours' | translate}}</th>
                                                <th>{{'incidents.columns.assigned' | translate}}</th>
                                                <th>{{'incidents.columns.priority' | translate}}</th>
                                                <th>{{'incidents.columns.status' | translate}}</th>
                                                <th>{{'incidents.columns.actions' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="incidents?.length != 0">
                                            <tr *ngFor="let incident of incidents; index as i">
                                                <td>
                                                    <a [routerLink]="['/incidents/detail', incident.id]" tooltip="{{'common.view' | translate}}">{{incident.generated_id}}</a>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="getCheckPermission(incident); else elseBlock">
                                                        <inline-edit-input [name]="'incident_name'" [type]="'text'" [elementFor]="'incidents.inline_edit.incident_name' | translate" [fieldValue]="incident.incident_name" [isRequired]="'true'" (updateValue)="saveIncidentDetail(i, 'incident_name', $event);"></inline-edit-input>
                                                    </ng-container>
                                                    <ng-template #elseBlock>{{incident.incident_name}}</ng-template>
                                                </td>
                                                <td>{{incident.start_date | dateTimeFormatFilter: loginUser.settings.date_format}}</td>
                                                <td>{{incident.end_date | dateTimeFormatFilter: loginUser.settings.date_format}}</td>
                                                <td>{{incident.actual_hours}}</td>
                                                <td class="people-lists">
                                                    <ng-container *ngIf="incident.assign_to == 'Unassign' || incident.assign_to == '' || incident.assign_to == null; else elseBlock3">
                                                        <a href="javascript:void(0);" class="btn btn-profile-danger rounded-circle text-dark" placement="top" tooltip="{{'common.unassigned' | translate}}">
                                                            <img src="../assets/img/unassign.jpg" class="img-sm rounded-circle" alt="Profile" />
                                                        </a>
                                                    </ng-container>
                                                    <ng-template #elseBlock3>
                                                        <a [routerLink]="['/users/profile', incident.assign_to]" class="btn rounded-circle text-dark btn-profile-danger" placement="top" tooltip="{{incident.assigned_firstname}} {{incident.assigned_lastname}}">
                                                            <img *ngIf="incident.assigned_avatar" src="{{apiUrl}}/uploads/profile/{{incident.assigned_avatar}}" class="img-sm rounded-circle" alt="Profile" />
                                                            <img *ngIf="!incident.assigned_avatar" src="../assets/img/profile_small.jpg" class="img-sm rounded-circle" alt="Profile" />
                                                        </a>
                                                    </ng-template>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="getCheckPermission(incident); else elseBlock2">
                                                        <div class="status-dropdown">
                                                            <div class="btn-group" dropdown>
                                                                <button dropdownToggle id="button-basic" type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">{{getTranslatePriorities(incident.priority) | translate}}&nbsp;<span class="caret"></span></button>
                                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu">
                                                                    <li role="menuitem" *ngFor="let priority of ('incidents.priorities' | translate)">
                                                                        <a class="dropdown-item btn btn-sm {{priority.class}}" [ngClass]="{'active': incident.priority == priority.id}" (click)="changeIncidentSeverity([incident.id], priority);incident.priority = priority.id">{{priority.label}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-template #elseBlock2>
                                                        <ng-container *ngFor="let priority of ('incidents.priorities' | translate)">
                                                            <div class="budges-status">
                                                                <span class="{{priority.class}}" *ngIf="priority.id == incident.priority">{{priority.label}}</span>
                                                            </div>
                                                        </ng-container>
                                                    </ng-template>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="getCheckPermission(incident); else elseBlock4">
                                                        <div class="status-dropdown">
                                                            <div class="btn-group" dropdown>
                                                                <button dropdownToggle id="button-basic" type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">{{getTranslateStatus(incident.status) | translate}}&nbsp;<span class="caret"></span></button>
                                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu">
                                                                    <li role="menuitem" *ngFor="let status of ('incidents.status' | translate)">
                                                                        <a class="dropdown-item btn btn-sm {{status.class}}" [ngClass]="{'active': incident.status == status.id}" (click)="changeIncidentStatus([incident.id], status);incident.status = status.id">{{status.label}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-template #elseBlock4>
                                                        <ng-container *ngFor="let status of ('incidents.status' | translate)">
                                                            <div class="budges-status">
                                                                <span class="{{status.class}}" *ngIf="status.id == incident.status">{{status.label}}</span>
                                                            </div>
                                                        </ng-container>
                                                    </ng-template>
                                                </td>
                                                <td class="actions-dropdown">
                                                    <div class="btn-group" dropdown>
                                                        <button dropdownToggle class="dropdown-toggle btn-action" type="button" id="button-basic-1" aria-controls="dropdown-basic-1"><i class="fa fa-ellipsis-v"></i></button>
                                                        <ul id="dropdown-basic-1" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="button-basic-1">
                                                            <li role="menuitem" *ngIf="getCheckPermission(incident)">
                                                                <a [routerLink]="['/incidents/edit', incident.id]" class="dropdown-item btn btn-edit btn-raised" tooltip="{{'common.edit' | translate}}"><i class="fa fa-pencil-square-o"></i></a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="getCheckPermission(incident)">
                                                                <a (click)="deleteIncident(incident.id)" class="dropdown-item btn btn-delete btn-raised" tooltip="{{'common.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="incidents?.length == 0" class="tfoot_dt">
                                            <tr>
                                                <td colspan="9" class="no-data-available text-center">{{'common.datatable.sEmptyTable' | translate}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
