<!-- Card header -->
<div class="card-header pl-0 pr-0 mb-3 border-bottom">
	<h4 class="sub-title mt-2"><span>{{'settings.system_settings.title' | translate}}</span></h4>
</div>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="form" *ngIf="isFormLoaded">
	<div class="form-body">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="timezone">{{'settings.system_settings.create.fields.timezone' | translate}}<span class="text-danger"></span></label>
					<ng-select [searchable]="true"
						[items]="timezones"
						[selectOnTab]="true"
						bindLabel="value"
						bindValue="key"
						labelForId="timezone"
						placeholder="{{'settings.system_settings.create.placeholders.placeholder3' | translate}}"
						formControlName="timezone">
					</ng-select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="tables_pagination_limit">{{'settings.system_settings.create.fields.tables_pagination_limit' | translate}}<span class="text-danger">&nbsp;*</span></label>
					<input type="number" class="form-control" formControlName="tables_pagination_limit" id="tables_pagination_limit" [ngClass]="{ 'is-invalid': isSubmitted && systemSetting.tables_pagination_limit.errors }" placeholder="{{'settings.system_settings.create.placeholders.placeholder4' | translate}}" />
					<div *ngIf="isSubmitted && systemSetting.tables_pagination_limit.errors" class="invalid-feedback">
						<div *ngIf="systemSetting.tables_pagination_limit.errors.required">{{'settings.system_settings.create.error_messages.message1' | translate}}</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" [ngClass]="{ 'is-invalid': isSubmitted && systemSetting.date_format.errors }">
					<label for="date_format">{{'settings.system_settings.create.fields.date_format' | translate}}<span class="text-danger">&nbsp;*</span></label>
					<ng-select [searchable]="true"
						[items]="dateFormates"
						[selectOnTab]="true"
						bindValue="value"
						labelForId="date_format"
						placeholder="{{'settings.system_settings.create.placeholders.placeholder5' | translate}}" 
						formControlName="date_format">
					</ng-select>
					<div *ngIf="isSubmitted && systemSetting.date_format.errors" class="invalid-feedback">
						<div *ngIf="systemSetting.date_format.errors.required">{{'settings.system_settings.create.error_messages.message2' | translate}}</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" [ngClass]="{ 'is-invalid': isSubmitted && systemSetting.time_format.errors }">
					<label for="time_format">{{'settings.system_settings.create.fields.time_format' | translate}}<span class="text-danger">&nbsp;*</span></label>
					<ng-select [searchable]="true"
						[items]="timeFormates"
						[selectOnTab]="true"
						bindValue="value"
						labelForId="time_format"
						placeholder="{{'settings.system_settings.create.placeholders.placeholder6' | translate}}" 
						formControlName="time_format">
					</ng-select>
					<div *ngIf="isSubmitted && systemSetting.time_format.errors" class="invalid-feedback">
						<div *ngIf="systemSetting.time_format.errors.required">{{'settings.system_settings.create.error_messages.message3' | translate}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-right">
				<a [routerLink]="['/']" class="btn btn-cancel">{{'common.cancel' | translate}}</a>
				<button type="submit" class="btn btn-submit" *ngxPermissionsOnly="['admin', 'super_admin', 'systemsettings_create', 'systemsettings_edit']"><span>{{'common.save' | translate}}</span></button>
			</div>
		</div>
	</div>
</form>
