<section id="basic-form-layouts" *ngIf="isPageLoaded">
	<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">{{'users.title1' | translate}}</h4>
					</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> {{'users.headings.head1' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firstname">{{'users.create.fields.first_name' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="firstname" id="firstname"
												placeholder="{{'users.create.placeholders.placeholder1' | translate}}"
												[ngClass]="{ 'is-invalid': fname.invalid && (fname.dirty || fname.touched) }" />
											<div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="invalid-feedback">
												<div *ngIf="fname.errors.required">{{'users.create.error_messages.message1' | translate}}</div>
												<div *ngIf="fname.errors.maxlength">{{'users.create.error_messages.message2' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lastname">{{'users.create.fields.last_name' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="lastname" id="lastname"
												placeholder="{{'users.create.placeholders.placeholder2' | translate}}"
												[ngClass]="{ 'is-invalid': lname.invalid && (lname.dirty || lname.touched) }" />
											<div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="invalid-feedback">
												<div *ngIf="lname.errors.required">{{'users.create.error_messages.message3' | translate}}</div>
												<div *ngIf="lname.errors.maxlength">{{'users.create.error_messages.message4' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="email">{{'users.create.fields.email' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="email" class="form-control" formControlName="email" id="email"
												placeholder="{{'users.create.placeholders.placeholder3' | translate}}"
												[ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }" />
											<div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
												<div *ngIf="email.errors.required">{{'users.create.error_messages.message5' | translate}}</div>
												<div *ngIf="email.errors.email">{{'users.create.error_messages.message6' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="password">{{'users.create.fields.password' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="password" class="form-control" formControlName="password" id="password"
												placeholder="{{'users.create.placeholders.placeholder4' | translate}}" autocomplete="off"
												[ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }" />
											<div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
												<div *ngIf="password.errors.required">{{'users.create.error_messages.message7' | translate}}
												</div>
												<div *ngIf="password.errors.minlength || password.errors.maxlength">
													{{'users.create.error_messages.message8' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="password_confirmation">{{'users.create.fields.confirm_password' |
												translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="password" class="form-control" formControlName="password_confirmation"
												id="password_confirmation"
												placeholder="{{'users.create.placeholders.placeholder5' | translate}}" autocomplete="off"
												[ngClass]="{ 'is-invalid': confirmation.invalid && (confirmation.dirty || confirmation.touched) }" />
											<div *ngIf="confirmation.invalid && (confirmation.dirty || confirmation.touched)"
												class="invalid-feedback">
												<div *ngIf="confirmation.errors.required">{{'users.create.error_messages.message9' | translate}}
												</div>
												<div *ngIf="confirmation.errors.mustMatch">{{'users.create.error_messages.message10' |
													translate}}</div>
											</div>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-file-text"></i> {{'users.headings.head2' | translate}}</h4>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'users.create.fields.profile_photo' | translate}}</label>
											<input type="hidden" formControlName="avatar">
											<div class="dropzone dz-clickable" #pdfDropzone>
												<div class="dz-default dz-message">
													<span><strong>{{'users.create.error_messages.message11' | translate}}</strong></span>
												</div>
											</div>
											<div class="people-lists text-center">
												<a *ngFor="let avatar of avatars;" (click)="setAvatar(avatar)"
													[ngClass]="{active: isActive(avatar)}"
													class="btn btn-profile-danger rounded-circle text-dark">
													<img src="{{apiUrl}}/uploads/profile/{{avatar}}" class="img-sm rounded-circle"
														alt="Profile" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group"
											[ngClass]="{ 'is-invalid': roles.invalid && (roles.dirty || roles.touched) }">
											<label>{{'users.create.fields.departments_roles' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<ng-select [items]="departmentsRoles" bindLabel="name" bindValue="id" groupBy="roles"
												[multiple]="true" [selectableGroup]="false" (change)="departmentRolesChange($event)"
												formControlName="department_roles"
												placeholder="{{'users.create.placeholders.placeholder6' | translate}}">
												<ng-template ng-optgroup-tmp let-item="item">{{item.name}}</ng-template>
												<ng-template ng-option-tmp let-item="item">{{item.name}}</ng-template>
											</ng-select>
											<div *ngIf="roles.invalid && (roles.dirty || roles.touched)" class="invalid-feedback">
												<div *ngIf="roles.errors.required">{{'users.create.error_messages.message12' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'users.create.fields.assigned_to' | translate}}&nbsp;<span
													class="text-danger">*</span></label><br />
											<div class="form-check radio-container">
												<input class="form-check-input" formControlName="assign_permission" type="radio" value="all"
													id="customize_permission1" (change)="changePermission($event)" />
												<label class="form-check-label" for="customize_permission1">{{'users.create.fields.everyone' |
													translate}}</label>
												<span class="radio-checkmark"></span>
											</div><br />
											<div class="form-check radio-container">
												<input class="form-check-input" formControlName="assign_permission" type="radio"
													value="cutomize" id="customize_permission2" (change)="changePermission($event)" />
												<label class="form-check-label"
													for="customize_permission2">{{'users.create.fields.customize_permission' | translate}}</label>
												<span class="radio-checkmark"></span>
											</div>
											<div *ngIf="isPermissionRequired" class="invalid-feedback d-block">
												{{'users.create.error_messages.message13' | translate}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">&nbsp;</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> {{'users.headings.head3' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="user_generated_id">{{'users.create.fields.userid' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="user_generated_id" id="user_generated_id"
												placeholder="USR000" readonly
												[ngClass]="{ 'is-invalid': uid.invalid && (uid.dirty || uid.touched) }" />
											<div *ngIf="uid.invalid && (uid.dirty || uid.touched)" class="invalid-feedback">
												<div *ngIf="uid.errors.required">{{'users.create.error_messages.message14' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="employee_id">{{'users.create.fields.employment_ID' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="emp_id" id="employee_id"
												placeholder="EMP0001" [ngClass]="{ 'is-invalid': eid.invalid && (eid.dirty || eid.touched) }" />
											<div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="invalid-feedback">
												<div *ngIf="eid.errors.required">{{'users.create.error_messages.message15' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="username">{{'users.create.fields.username' | translate}}&nbsp;<span
													class="text-danger">*</span></label>
											<div class="input-group">
												<div class="input-group-prepend no-borders no-paddings">
													<span class="input-group-text font-12" id="usernamePrepend">@</span>
												</div>
												<input type="text" class="form-control" id="username"
													placeholder="{{'users.create.placeholders.placeholder7' | translate}}"
													aria-describedby="usernamePrepend" formControlName="username"
													[ngClass]="{ 'is-invalid': uname.invalid && (uname.dirty || uname.touched) }"
													autocomplete="nope" />
												<div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="invalid-feedback">
													<div *ngIf="uname.errors.required">{{'users.create.error_messages.message16' | translate}}
													</div>
													<div *ngIf="uname.errors.minlength || uname.errors.maxlength || uname.errors.pattern">
														{{'users.create.error_messages.message17' | translate}}</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="skype">{{'users.create.fields.skype' | translate}}</label>
											<input type="text" class="form-control"
												placeholder="{{'users.create.placeholders.placeholder8' | translate}}" formControlName="skype"
												id="skype" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="country">{{'users.create.fields.country' | translate}}</label>
											<ng-select [searchable]="true" [items]="countries" [selectOnTab]="true" bindLabel="name"
												bindValue="id" labelForId="country"
												placeholder="{{'users.create.placeholders.placeholder9' | translate}}"
												formControlName="country">
											</ng-select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="language">{{'users.create.fields.language' | translate}}</label>
											<ng-select [searchable]="true" [items]="languages" [selectOnTab]="true" bindLabel="name"
												bindValue="language" labelForId="language"
												placeholder="{{'users.create.placeholders.placeholder10' | translate}}"
												formControlName="language">
											</ng-select>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-mail"></i> {{'users.headings.head4' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="mobile">{{'users.create.fields.mobile' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="mobile"
												id="mobile" [ngClass]="{ 'is-invalid': mobile.invalid && (mobile.dirty || mobile.touched) }" />
											<div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="invalid-feedback">
												<div *ngIf="mobile.errors.pattern">{{'users.create.error_messages.message18' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="phone">{{'users.create.fields.phone' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="phone"
												id="phone" [ngClass]="{ 'is-invalid': phone.invalid && (phone.dirty || phone.touched) }" />
											<div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="invalid-feedback">
												<div *ngIf="phone.errors.pattern">{{'users.create.error_messages.message19' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<label class="checkbox-container">
											<input type="checkbox" class="form-control" formControlName="is_super_admin"
												id="is_super_admin" />{{'users.create.fields.is_departmenthead' | translate}}
											<span class="checkbox-checkmark"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<a [routerLink]="['/users']" class="btn btn-cancel">{{'common.cancel' | translate}}</a>
				<button type="submit" class="btn btn-submit">{{'common.create' | translate}}</button>
			</div>
		</div>
	</form>
</section>