<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-universal-access"
			aria-hidden="true"></i>&nbsp;{{'teams.title' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"><span
			aria-hidden="true">&times;</span></button>
</div>
<form class="form" [formGroup]="editTeamForm" (ngSubmit)="onSubmit()" *ngIf="isPageLoaded">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="team_name">{{'teams.create.fields.team_name' | translate}}<span
								class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<input type="text" placeholder="{{'teams.create.placeholders.placeholder1' | translate}}"
								class="form-control" id="team_name" formControlName="team_name"
								[ngClass]="{ 'is-invalid': teamControl.team_name.errors }" />
							<div class="form-control-position">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>
							<div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
								<div *ngIf="name.errors.required">{{'teams.create.error_messages.message1' | translate}}</div>
								<div *ngIf="name.errors.maxlength">{{'teams.create.error_messages.message2' | translate}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" [ngClass]="{ 'is-invalid': teamControl.members.errors }">
						<label for="members">{{'teams.create.fields.members' | translate}}<span
								class="text-danger">&nbsp;*</span></label>
						<ng-select [items]="users" bindLabel="firstname" bindValue="id" [multiple]="true" formControlName="members"
							placeholder="{{'teams.create.placeholders.placeholder2' | translate}}" (change)="teamMemberChange($event)"
							[searchable]="true">
							<ng-template ng-option-tmp let-item="item">
								{{item.firstname}} {{item.lastname}}
							</ng-template>
						</ng-select>
						<div *ngIf="member.invalid && (member.dirty || member.touched)" class="invalid-feedback">
							<div *ngIf="member.errors.required">{{'teams.create.error_messages.message3' | translate}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" [ngClass]="{ 'is-invalid': teamControl.team_leader.errors }">
						<label for="team_leader">{{'teams.create.fields.leader' | translate}}<span
								class="text-danger">&nbsp;*</span></label>
						<ng-select [items]="teamLeaders" bindLabel="firstname" bindValue="id" [multiple]="false"
							formControlName="team_leader" placeholder="{{'teams.create.placeholders.placeholder3' | translate}}"
							[searchable]="true">
							<ng-template ng-option-tmp let-item="item">
								{{item.firstname}} {{item.lastname}}
							</ng-template>
						</ng-select>
						<div *ngIf="leader.invalid && (leader.dirty || leader.touched)" class="invalid-feedback">
							<div *ngIf="leader.errors.required">{{'teams.create.error_messages.message4' | translate}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="description">{{'teams.create.fields.description' | translate}}</label>
						<app-ngx-editor height="100px" minHeight="50px" [placeholder]="''" [spellcheck]="true"
							formControlName="description" id="description">
						</app-ngx-editor>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.close' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.update' | translate}}</button>
	</div>
</form>