<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-calendar-times-o" aria-hidden="true"></i>&nbsp;{{'appointments.title' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsCreateModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form class="form" [formGroup]="createAppointmentForm" (ngSubmit)="onSubmit()" *ngIf="isPageLoad">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && appointmentControl.provider_id.errors }">
						<label for="provider_id">{{'appointments.create.fields.provider' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<ng-select [searchable]="true"
							[items]="providers"
							[multiple]="false"
							[selectOnTab]="true"
							bindLabel="firstname"
							bindValue="id"
							labelForId="provider_id"
							formControlName="provider_id"
							placeholder="Unassigned">
							<ng-template ng-option-tmp let-item="item">{{item.firstname}} {{item.lastname}}</ng-template>
						</ng-select>
						<div *ngIf="isFormSubmitted && appointmentControl.provider_id.errors" class="invalid-feedback">
							<div *ngIf="appointmentControl.provider_id.errors.required">{{'appointments.create.error_messages.message1' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && appointmentControl.start_date_time.errors }">
						<label for="start_date_time">{{'appointments.create.fields.start_date' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<owl-date-time #startDT></owl-date-time>
							<input type="text" class="form-control" [owlDateTimeTrigger]="startDT" [owlDateTime]="startDT" [min]="minDate" formControlName="start_date_time" id="start_date_time" placeholder="{{'appointments.create.placeholders.placeholder1' | translate}}" aria-describedby="inputGroupPrepend2" (dateTimeChange)="startDateChange($event)" />
							<div class="form-control-position"><i class="ft-calendar"></i></div>
						</div>
						<div *ngIf="isFormSubmitted && appointmentControl.start_date_time.errors" class="invalid-feedback">
							<div *ngIf="appointmentControl.start_date_time.errors">{{'appointments.create.error_messages.message2' | translate}}</div>
						</div>
						<span class="badge badge-secondary" *ngIf="availabileSlots && availabileSlots.length > 0">{{'appointments.budges.title1' | translate}}: 
							<ng-container *ngFor="let slots of availabileSlots; let last = last">
								{{slots.start_date_time | dateTimeFormatFilter: 'HH:mm'}} to {{slots.end_date_time | dateTimeFormatFilter: 'HH:mm'}}
								<ng-container *ngIf="!last"><br></ng-container>
							</ng-container>
						</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && appointmentControl.end_date_time.errors }">
						<label for="end_date_time">{{'appointments.create.fields.end_date' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<owl-date-time #endDT></owl-date-time>
							<input type="text" class="form-control" [owlDateTimeTrigger]="endDT" [owlDateTime]="endDT" [min]="createAppointmentForm.get('start_date_time').value" formControlName="end_date_time" id="end_date_time" placeholder="{{'appointments.create.placeholders.placeholder2' | translate}}" aria-describedby="inputGroupPrepend3" />
							<div class="form-control-position"><i class="ft-calendar"></i></div>
						</div>
						<div *ngIf="isFormSubmitted && appointmentControl.end_date_time.errors" class="invalid-feedback">
							<div *ngIf="appointmentControl.end_date_time.errors">{{'appointments.create.error_messages.message3' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="title">{{'appointments.create.fields.title' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<input type="text" class="form-control" formControlName="title" id="title" placeholder="{{'appointments.create.placeholders.placeholder3' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && appointmentControl.title.errors }" />
							<div class="form-control-position">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>
							<div *ngIf="isFormSubmitted && appointmentControl.title.errors" class="invalid-feedback">
								<div *ngIf="appointmentControl.title.errors.required">{{'appointments.create.error_messages.message4' | translate}}</div>
								<div *ngIf="appointmentControl.title.errors.maxlength">{{'appointments.create.error_messages.message5' | translate}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="client_id">{{'appointments.create.fields.client' | translate}}</label>
						<ng-select [searchable]="true"
							[items]="clients"
							[selectOnTab]="true" 
							bindLabel="firstname" 
							bindValue="id" 
							labelForId="client_id" 
							formControlName="client_id" 
							placeholder="{{'appointments.create.placeholders.placeholder4' | translate}}">
							<ng-template ng-option-tmp let-item="item">{{item.firstname}} {{item.lastname}}</ng-template>
						</ng-select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="location">{{'appointments.create.fields.location' | translate}}</label>
						<input type="text" class="form-control" formControlName="location" id="location" placeholder="{{'appointments.create.placeholders.placeholder5' | translate}}" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="location">{{'appointments.create.fields.attendees' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<input type="text" class="form-control" formControlName="attendees" id="attendees" placeholder="{{'appointments.create.placeholders.placeholder6' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && appointmentControl.attendees.errors }" />
						<div *ngIf="isFormSubmitted && appointmentControl.attendees.errors" class="invalid-feedback">
							<div *ngIf="appointmentControl.attendees.errors.required">{{'appointments.create.error_messages.message7' | translate}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="note">{{'appointments.create.fields.notes' | translate}}</label>
						<app-ngx-editor height="100px" minHeight="50px" [placeholder]="''" [spellcheck]="true" formControlName="note" id="note"></app-ngx-editor>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.close' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.create' | translate}}</button>
	</div>
</form>
