<footer class="footer">
	<div class="container-fluid">
		<p class="copyright">{{'footer.copyright' | translate}}  &copy;  {{currentDate | dateTimeFormatFilter: 'YYYY'}}&nbsp;<a href="https://www.chetsapp.com" target="_blank">{{settings.company_name}}</a> {{'footer.text1' | translate}}.</p>
	</div>
</footer>