<section class="hide_empty_message">
	<div class="row">
		<div class="col-sm-12">
			<div class="card pl-2 pr-2">
				<div class="card-header pl-0 pr-0 border-bottom">
					<h4 class="main-title mt-2"><span>{{'holidays.title' | translate}}</span></h4>
					<div class="card-buttons d-flex text-center" [ngClass]="{'d-flex': holidayTab != 'all'}">
						<div class="form-group mr-2 mt-2 mb-0 width-150" *ngIf="holidayTab != 'all'">
							<form class="form">
								<div class="position-relative has-icon-left">
									<input type="text" #dp="bsDatepicker" bsDatepicker [(bsValue)]="year" value="{{ year | dateTimeFormatFilter:'MM-YYYY' }}" [bsConfig]="{ dateInputFormat: 'MM-YYYY', minMode : minMode }" class="form-control" name="search_for_month" id="search_for_month" placeholder="Search For Year" aria-describedby="inputGroupPrepend1" (bsValueChange)="holidayYearChange($event)" />
									<div class="form-control-position"><i class="ft-calendar"></i></div>
								</div>
							</form>
						</div>
						<button class="btn btn-create mb-0" *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_create']" (click)="openHolidayCreateModal()" tooltip="{{'common.create' | translate}}"><i class="fa fa-plus"></i></button>
					</div>
				</div>
				<div class="card-content pt-3 pb-3 custom-nav-tabs">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12">
								<tabset [vertical]="false" type="pills" #tabset>
									<tab heading="All" id="all" (selectTab)="setHolidayTab($event)">
										<div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
											<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" id="holiday_table" width="100%">
												<thead>
													<tr>
														<th>{{'holidays.columns.event_name' | translate}}</th>
														<th>{{'holidays.columns.date' | translate}}</th>
														<th>{{'holidays.columns.color' | translate}}</th>
														<th>{{'holidays.columns.actions' | translate}}</th>
													</tr>
												</thead>
												<tbody *ngIf="holidays?.length != 0">
													<tr *ngFor="let holiday of holidays; index as i">
														<td>
															<div *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_edit']; else elseBlock; then thenBlock"></div>
															<ng-template #elseBlock>{{holiday.event_name}}</ng-template>
															<ng-template #thenBlock>
																<inline-edit-input [name]="'event_name'" [type]="'text'" [elementFor]="'holidays.inline_edit.event_name' | translate" [maxLength]="50" [fieldValue]="holiday.event_name" [isRequired]="'true'" (updateValue)="saveHolidayListDetail(i, 'event_name', $event);"></inline-edit-input>
															</ng-template>
														</td>
														<td>
															<div *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_edit']; else elseBlock2; then thenBlock2"></div>
															<ng-template #elseBlock2>
																{{holiday.date | dateTimeFormatFilter: loginUser.settings.date_format}}
															</ng-template>
															<ng-template #thenBlock2>
																<inline-edit-date [name]="'date'" [fieldValue]="holiday.date" [elementFor]="'holidays.inline_edit.holiday_date' | translate" [isRequired]="'true'" [datepickerConfigs]="datepickerConfigs" [format]="loginUser.settings.date_format" (updateValue)="saveHolidayListDetail(i, 'date', $event);"></inline-edit-date>
															</ng-template>
														</td>
														<td><div class="width-30 height-30" [ngStyle]="{'background-color': holiday.color}"></div></td>
														<td class="actions-dropdown">
															<div class="btn-group" dropdown>
																<button dropdownToggle class="dropdown-toggle btn-action" type="button" id="button-basic-1" aria-controls="dropdown-basic-1"><i class="fa fa-ellipsis-v"></i></button>
																<ul id="dropdown-basic-1" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="button-basic-1">
																	<li role="menuitem" *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_edit']">
																		<a (click)="openHolidayEditModal(holiday)" class="dropdown-item btn btn-edit btn-raised" tooltip="{{'common.edit' | translate}}"><i class="fa fa-pencil-square-o"></i></a>
																	</li>
																	<li role="menuitem" *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_delete']">
																		<a (click)="removeHoliday(holiday.id)" class="dropdown-item btn btn-delete btn-raised" tooltip="{{'common.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
																	</li>
																</ul>
															</div>
														</td>
													</tr>
												</tbody>
												<tfoot *ngIf="holidays?.length == 0" class="tfoot_dt">
													<tr>
														<td colspan="4" class="text-center">
															<img src="assets/img/norecord-img.png" width="50">
															<p class="mt-1">{{ 'common.empty_message.holidays' | translate }}</p>
														</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</tab>
									<ng-container *ngIf="isPageLoaded">
										<tab heading="{{month}}" id="{{i + 1}}" (selectTab)="setHolidayTab($event)" *ngFor="let month of ('months' | translate); index as i">
											<div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl overflow-x-auto">
												<table class="table table-bordered table-hover b4-datatable" width="100%">
													<thead>
														<tr>
															<th>{{'holidays.columns.event_name' | translate}}</th>
															<th class="width-200">{{'holidays.columns.date' | translate}}</th>
															<th class="width-50">{{'holidays.columns.color' | translate}}</th>
															<th class="width-50">{{'holidays.columns.actions' | translate}}</th>
														</tr>
													</thead>
													<tbody *ngIf="holidayLists.years[holidayTab]?.length != 0">
														<tr *ngFor="let holiday of holidayLists.years[holidayTab]; index as i">
															<td>
																<div *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_edit']; else elseBlock3; then thenBlock3"></div>
																<ng-template #elseBlock3>{{holiday.event_name}}</ng-template>
																<ng-template #thenBlock3>
																	<inline-edit-input [name]="'event_name'" [type]="'text'" [elementFor]="'holidays.inline_edit.event_name' | translate" [maxLength]="100" [fieldValue]="holiday.event_name" [isRequired]="'true'" (updateValue)="saveHolidayDetail(holidayTab, i, 'event_name', $event);"></inline-edit-input>
																</ng-template>
															</td>
															<td>
																<div *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_edit']; else elseBlock4; then thenBlock4"></div>
																<ng-template #elseBlock4>
																	{{holiday.date | dateTimeFormatFilter: loginUser.settings.date_format}}
																</ng-template>
																<ng-template #thenBlock4>
																	<inline-edit-date [name]="'date'" [fieldValue]="holiday.date" [elementFor]="'holidays.inline_edit.holiday_date' | translate" [isRequired]="'false'" [datepickerConfigs]="datepickerConfigs" [format]="loginUser.settings.date_format" (updateValue)="saveHolidayDetail(holidayTab, i, 'date', $event);"></inline-edit-date>
																</ng-template>
															</td>
															<td><div class="width-30 height-30" [ngStyle]="{'background-color': holiday.color}"></div></td>
															<td class="actions-dropdown">
																<div class="btn-group" dropdown>
																	<button dropdownToggle class="dropdown-toggle btn-action" type="button" id="button-basic-1" aria-controls="dropdown-basic-1"><i class="fa fa-ellipsis-v"></i></button>
																	<ul id="dropdown-basic-1" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="button-basic-1">
																		<li role="menuitem" *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_edit']">
																			<a (click)="openHolidayEditModal(holiday)" class="dropdown-item btn btn-edit btn-raised" tooltip="{{'common.edit' | translate}}"><i class="fa fa-pencil-square-o"></i></a>
																		</li>
																		<li role="menuitem" *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_delete']">
																			<a (click)="removeHoliday(holiday.id)" class="dropdown-item btn btn-delete btn-raised" tooltip="{{'common.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
																		</li>
																	</ul>
																</div>
															</td>
														</tr>
													</tbody>
													<tfoot *ngIf="holidayLists.years[holidayTab]?.length == 0">
														<tr>
															<td colspan="4" class="no-data-available text-center">{{'common.datatable.sEmptyTable' | translate}}</td>
														</tr>
													</tfoot>
												</table>
											</div>
										</tab>
									</ng-container>
								</tabset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
