<!-- Card header -->
<div class="card-header justify-content-center p-0">
	<div class="card-buttons pt-2 pb-2 pr-1">
		<button type="button" class="btn btn-create mb-0" (click)="openAttachmentCreateModal()" tooltip="{{'common.create' | translate}}"><i class="fa fa-upload"></i><span>{{'common.drag_file' | translate}}</span></button>
	</div>
</div>
<!-- Card body -->
<div class="card-body">
	<div class="row">
		<div class="col-lg-12 mb-3">
			<div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
				<table class="table table-bordered table-hover b4-datatable" id="attachment_table" width="100%">
					<thead>
						<tr>
							<th>{{'attachments.columns.file_title' | translate}}</th>
							<th>{{'attachments.columns.attachment' | translate}}</th>
							<th>{{'common.created' | translate}}</th>
							<th>{{'attachments.columns.actions' | translate}}</th>
						</tr>
					</thead>
					<tbody *ngIf="attachments?.length != 0">
						<tr *ngFor="let attachment of attachments">
							<td>{{attachment.file_name}}</td>
							<td>{{attachment.file_hash}}</td>
							<td>{{attachment.created_at | dateTimeFormatFilter: loginUser.settings.date_time_format }}</td>
							<td class="actions-dropdown">
								<div class="btn-group" dropdown>
									<button dropdownToggle class="dropdown-toggle btn-action" type="button" id="button-basic-1" aria-controls="dropdown-basic-1"><i class="fa fa-ellipsis-v"></i></button>
									<ul id="dropdown-basic-1" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="button-basic-1">
										<li role="menuitem" *ngIf="permission">
											<a class="dropdown-item btn btn-download btn-raised" tooltip="{{'common.download' | translate}}" target="_blank" download="{{attachment.file_name}}" href="{{apiUrl}}/uploads/incident_attachment/{{attachment.file_hash}}"><i class="fa fa-download"></i></a>
										</li>
										<li role="menuitem" *ngIf="permission">
											<a (click)="attachmentDelete(attachment.id)" class="dropdown-item btn btn-delete btn-raised" tooltip="{{'common.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot *ngIf="attachments?.length == 0">
						<tr>
							<td colspan="4" class="no-data-available text-center">{{'common.datatable.sEmptyTable' | translate}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>