<section class="hide_empty_message">
	<div class="row">
		<div class="col-sm-12">
			<div class="card pl-2 pr-2">
				<div class="card-header pl-0 pr-0 border-bottom">
					<h4 class="main-title mt-2"><span>{{'users.title' | translate}}</span></h4>
					<div class="card-buttons">
						<a *ngxPermissionsOnly="['admin', 'super_admin', 'users_create']" href="{{ apiUrl }}/csv/import_users.csv" download="import_users.csv" class="btn btn-create mb-0" target="_blank" placement="top" tooltip="{{'common.tooltip.user_csv_sample' | translate}}"><i class="fa fa-files-o"></i></a>
						<button class="btn btn-create mb-0" *ngxPermissionsOnly="['admin', 'super_admin', 'users_create']" (click)="openUserImportModal()" tooltip="{{'common.import' | translate}}"><i class="fa fa-upload"></i></button>
						<a class="btn btn-create mb-0" *ngxPermissionsOnly="['admin', 'super_admin', 'users_create']" [routerLink]="['/users/create']" tooltip="{{'common.create' | translate}}"><i class="fa fa-plus"></i></a>
					</div>
				</div>
				<div class="card-content pt-3 pb-3">
					<div class="card-body">
						<div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
							<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" width="100%" id="users_table">
								<thead>
									<tr>
										<th>{{'users.columns.photo' | translate}}</th>
										<th>{{'users.columns.first_name' | translate}}</th>
										<th>{{'users.columns.last_name' | translate}}</th>
										<th>{{'users.columns.username' | translate}}</th>
										<th>{{'users.columns.status' | translate}}</th>
										<th>{{'users.columns.departments_roles' | translate}}</th>
										<th>{{'users.columns.actions' | translate}}</th>
									</tr>
								</thead>
								<tbody *ngIf="users?.length != 0">
									<tr *ngFor="let user of users; index as i">
										<td class="people-lists">
											<a [routerLink]="['/users/profile', user.id]" class="btn btn-profile-info rounded-circle text-dark" placement="top" tooltip="{{user.firstname}} {{user.lastname}}">
												<img *ngIf="user.avatar" src="{{apiUrl}}/uploads/profile/{{user.avatar}}" class="img-sm rounded-circle" alt="Profile" />
												<img *ngIf="!user.avatar" src="../assets/img/profile_small.jpg" class="img-sm rounded-circle" alt="Profile" />
											</a>											
										</td>
										<td>
											<ng-container *ngIf="user.department_role_perm.isEditable; else elseBlock1">
												<inline-edit-input [name]="'firstname'" [type]="'text'" [elementFor]="'users.inline_edit.first_name' | translate" [fieldValue]="user.firstname" [maxLength]="20" [isRequired]="'true'" (updateValue)="saveUserDetail(i, 'firstname', $event);"></inline-edit-input>
											</ng-container>
											<ng-template #elseBlock1>{{user.firstname}}</ng-template>
										</td>
										<td>
											<ng-container *ngIf="user.department_role_perm.isEditable; else elseBlock2">
												<inline-edit-input [name]="'lastname'" [type]="'text'" [elementFor]="'users.inline_edit.last_name' | translate" [fieldValue]="user.lastname" [maxLength]="20" [isRequired]="'true'" (updateValue)="saveUserDetail(i, 'lastname', $event);"></inline-edit-input>
											</ng-container>
											<ng-template #elseBlock2>{{user.lastname}}</ng-template>
										</td>
										<td>
											<a [routerLink]="['profile', user.id]" tooltip="{{'common.view' | translate}}">{{user.username}}</a>
										</td>
										<td class="text-center">
											<ng-container *ngIf="user.department_role_perm.isEditable && user.id != 1; else elseBlock3">
												<ui-switch [checked]="user.is_active == '1' ? true : false" (valueChange)="setActiveDeactiveUser($event, user)"></ui-switch>
											</ng-container>
											<ng-template #elseBlock3>
												<div class="budges-status">
													<span class="completed" *ngIf="user.is_active == '1'">{{'common.status.active' | translate}}</span>
													<span class="cancel" *ngIf="user.is_active == '0'">{{'common.status.deactive' | translate}}</span>
												</div>
											</ng-template>
										</td>
										<td class="budges-status">
											<ng-template *ngIf="user.roles?.length == 0;else elseBlock4">-</ng-template>
											<ng-template #elseBlock4>
												<span *ngFor="let role of departments[user.id]" [ngClass]="{'cancel': role.role_id == 1, 'completed': role.role_id != 1}">{{role.role_name}} ({{role.department_name}})</span>
											</ng-template>
										</td>
										<td class="actions-dropdown">
											<div class="btn-group" dropdown>
												<button dropdownToggle class="dropdown-toggle btn-action" type="button" id="button-basic-1" aria-controls="dropdown-basic-1"><i class="fa fa-ellipsis-v"></i></button>
												<ul id="dropdown-basic-1" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="button-basic-1">
													<li role="menuitem" *ngIf="user.email_verified == '0' || user.email_verified == 0">
														<a *ngxPermissionsOnly="['admin', 'super_admin']" (click)="sendInviteUserMail(user.id)" class="dropdown-item btn btn-invite btn-raised" tooltip="{{'common.invite' | translate}}"><i class="fa fa-envelope-o"></i></a>
													</li>
													<li role="menuitem">
														<a *ngIf="user.department_role_perm.isEditable" [routerLink]="['edit', user.id]" class="dropdown-item btn btn-edit btn-raised" tooltip="{{'common.edit' | translate}}"><i class="fa fa-pencil-square-o"></i></a>
													</li>
													<li role="menuitem">
														<a *ngIf="user.department_role_perm.isDeletable" (click)="userDelete(user.id)" class="dropdown-item btn btn-delete btn-raised" tooltip="{{'common.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
								<tfoot *ngIf="users?.length == 0" class="tfoot_dt">
									<tr>
										<td colspan="7" class="no-data-available text-center">{{'common.datatable.sEmptyTable' | translate}}</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
