<section class="hide_empty_message">
	<div class="row">
		<div class="col-sm-12">
			<div class="card pl-2 pr-2">
				<div class="card-header pl-0 pr-0 border-bottom">
					<h4 class="main-title mt-2"><span>{{'timesheet.title' | translate}}</span></h4>
					<div class="card-buttons">
						<a *ngxPermissionsOnly="['admin', 'super_admin', 'holidays_view']" class="btn btn-create mb-0" [routerLink]="['/holidays']" placement="top" tooltip="{{'holidays.title' | translate}}"><i class="fa fa-tree"></i><span>{{'holidays.title' | translate}}</span></a>
						<a *ngxPermissionsOnly="['admin', 'super_admin', 'reports_view']" [routerLink]="['/timesheet/all']" class="btn btn-create mb-0" tooltip="{{'timesheet.title2' | translate}}"><i class="fa fa-clock-o"></i><span>{{'timesheet.title2' | translate}}</span></a>
						<a class="btn btn-create mb-0" *ngxPermissionsOnly="['admin', 'super_admin', 'timesheet_create']" (click)="openTimesheetCreateModal()" placement="top" tooltip="{{'common.add' | translate}}"><i class="fa fa-plus"></i></a>
					</div>
				</div>
				<!-- Card content -->
				<div class="card-content pt-3">
					<!-- Card body -->
					<div class="card-body">
						<!-- Filter buttons -->
						<form [formGroup]="timesheetFilterForm" (ngSubmit)="onSubmit()">
							<div class="row d-flex" *ngIf="isPageLoaded">
								<div class="col-sm-2">
									<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && filterControl.range.errors }">
										<label for="range" class="sr-only"></label>
										<ng-select [searchable]="true"
											[clearable]="false"
											[items]="range"
											[selectOnTab]="true"
											[multiple]="false"
											bindLabel="label"
											bindValue="id"
											labelForId="range"
											formControlName="range"
											(change)="rangeChange($event)">
										</ng-select>
										<div *ngIf="isFormSubmitted && filterControl.range.errors" class="invalid-feedback">
											<div *ngIf="filterControl.range.errors.required">{{'timesheet.filter.error_messages.message1' | translate }}</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3" *ngIf="filterControl.range.value == 'period'">
									<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && filterControl.period_from.errors }">
										<label for="period_from" class="sr-only"></label>
										<div class="position-relative has-icon-left">
											<input class="form-control" #dp1="bsDatepicker" bsDatepicker [bsConfig]="datepickerConfig" (bsValueChange)="periodFromDateChange($event)" formControlName="period_from" id="period_from" placeholder="{{'timesheet.filter.placeholders.placeholder3' | translate }}" />
											<div class="form-control-position"><i class="ft-calendar"></i></div>
											<div *ngIf="isFormSubmitted && filterControl.period_from.errors" class="invalid-feedback">
												<div *ngIf="filterControl.period_from.errors">{{'timesheet.filter.error_messages.message2' | translate }}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3" *ngIf="filterControl.range.value == 'period'">
									<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && filterControl.period_to.errors }">
										<label for="period_to" class="sr-only"></label>
										<div class="position-relative has-icon-left">
											<input class="form-control" #dp2="bsDatepicker" bsDatepicker [bsConfig]="datepickerConfig" [minDate]="timesheetFilterForm.get('period_from').value" formControlName="period_to" id="period_to" placeholder="{{'timesheet.filter.placeholders.placeholder4' | translate }}" />
											<div class="form-control-position"><i class="ft-calendar"></i></div>
											<div *ngIf="isFormSubmitted && filterControl.period_to.errors" class="invalid-feedback">
												<div *ngIf="filterControl.period_to.errors">{{'timesheet.filter.error_messages.message3' | translate }}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="project_ids" class="sr-only"></label>
										<ng-select [searchable]="true"
											[items]="projects"
											[selectOnTab]="true"
											[multiple]="true"
											[selectableGroup]="false"
											bindLabel="project_name"
											bindValue="id"
											labelForId="project_ids"
											formControlName="project_ids"
											placeholder="{{'timesheet.filter.placeholders.placeholder1' | translate }}"
											(change)="onSubmit()"
											>
											<ng-template ng-option-tmp let-item="item">{{item.project_name}}</ng-template>
										</ng-select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="client_id" class="sr-only"></label>
										<ng-select [searchable]="true"
											[items]="clients"
											[selectOnTab]="true"
											[multiple]="false"
											bindLabel="firstname"
											bindValue="id"
											labelForId="client_id"
											formControlName="client_id"
											placeholder="{{'timesheet.filter.placeholders.placeholder2' | translate }}"
											(change)="onSubmit()">
											<ng-template ng-option-tmp let-item="item">
												{{item.firstname}} {{item.lastname}}
											</ng-template>
										</ng-select>
									</div>
								</div>
								<div class="col text-left btn_apply d-none">
									<button type="submit" class="btn btn-submit btn-sm mb-0">{{'common.apply' | translate}}</button>
								</div>
							</div>
						</form>
						<!-- Timesheet list datatable -->
						<div class="row">
							<div class="col-sm-12">
								<div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
									<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" width="100%" id="timesheets_table">
										<thead>
											<tr>
												<th class="width-50">{{'timesheet.columns.project_name' | translate}}</th>
												<th>{{'timesheet.columns.entry' | translate}}</th>
												<th class="width-125">{{'timesheet.columns.note' | translate}}</th>
												<th class="width-75">{{'timesheet.columns.start_time' | translate}}</th>
												<th class="width-75">{{'timesheet.columns.end_time' | translate}}</th>
												<th class="width-50">{{'timesheet.columns.time_h' | translate}}</th>
												<th class="width-50">{{'timesheet.columns.actions' | translate}}</th>
											</tr>
										</thead>
										<tbody *ngIf="timesheets?.length > 0">
											<tr *ngFor="let timesheet of timesheets; index as i">
												<td>
													<ng-container *ngIf="timesheet.project_id; else elseBlock">
														<a [routerLink]="['/projects/detail', timesheet.project_id]" class="text-info" tooltip="{{timesheet.project_name}}">#{{timesheet.project_generated_id}}</a>
													</ng-container>
													<ng-template #elseBlock>-</ng-template>
												</td>
												<td>
													<ng-container *ngIf="timesheet.module_id == 2">
														<a [routerLink]="['/tasks/detail', timesheet.module_related_id]" class="text-info">#{{timesheet.task_generated_id}} - {{timesheet.task_name}}</a>
													</ng-container>
													<ng-container *ngIf="timesheet.module_id == 3">
														<a [routerLink]="['/defects/detail', timesheet.module_related_id]" class="text-info">#{{timesheet.defect_generated_id}} - {{timesheet.defect_name}}</a>
													</ng-container>
													<ng-container *ngIf="timesheet.module_id == 4">
														<a [routerLink]="['/incidents/detail', timesheet.module_related_id]" class="text-info">#{{timesheet.incident_generated_id}} - {{timesheet.incident_name}}</a>
													</ng-container>
													<ng-container *ngIf="timesheet.module_id == 5">
														<a [routerLink]="['/meetings/detail', timesheet.module_related_id]" class="text-info">#{{timesheet.module_related_id}} - {{timesheet.meeting_title}}</a>
													</ng-container>
													<ng-container *ngIf="timesheet.module_id == 6">-</ng-container>
												</td>
												<td>
													<inline-edit-textarea [name]="'note'" [fieldValue]="timesheet.note" [elementFor]="'timesheet.inline_edit.note' | translate" [isRequired]="'false'" (updateValue)="saveTimesheetDetail(i, 'note', $event);"></inline-edit-textarea>
												</td>
												<td>{{timesheet.start_time | dateTimeFormatFilter: loginUser.settings.date_time_format}}</td>
												<td>{{timesheet.end_time | dateTimeFormatFilter: loginUser.settings.date_time_format}}</td>
												<td>{{timesheet.hour_time}}</td>
												<td class="actions-dropdown">
													<div class="btn-group" dropdown>
														<button dropdownToggle class="dropdown-toggle btn-action" type="button" id="button-basic-1" aria-controls="dropdown-basic-1"><i class="fa fa-ellipsis-v"></i></button>
														<ul id="dropdown-basic-1" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="button-basic-1">
															<li role="menuitem">
																<a (click)="openTimesheetEditModal(timesheet)" class="dropdown-item btn btn-edit btn-raised" tooltip="{{'common.edit' | translate}}"><i class="fa fa-pencil-square-o"></i></a>
															</li>
															<li role="menuitem">
																<a (click)="deleteTimesheet(timesheet.id)" class="dropdown-item btn btn-danger btn-delete btn-raised" tooltip="{{'common.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
															</li>
														</ul>
													</div>
												</td>
											</tr>
										</tbody>
										<tfoot class="tfoot_dt d-none">
											<tr>
												<td colspan="7" class="no-data-available text-center">{{'common.datatable.sEmptyTable' | translate}}</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>