<div class="row">
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<a [routerLink]="['/projects']">
			<div class="card blackberry-gradient card-icon">
				<div class="card-body">
					<div class="card-block p-2 pt-4 pb-4">
						<div class="media">
							<div class="media-right white mr-3">
								<i class="fa fa-product-hunt font-l-1"></i>
							</div>
							<div class="media-body white">
								<h3 class="font-l-1 mb-1" [countUp]="dashboardLists1.total_projects">{{dashboardLists1.total_projects}}</h3>
								<span>{{ 'common.total' | translate }} {{'projects.title' | translate}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<a [routerLink]="['/tasks']">
			<div class="card pomegranate-gradient card-icon">
				<div class="card-body">
					<div class="card-block p-2 pt-4 pb-4">
						<div class="media">
							<div class="media-right white mr-3">
								<i class="fa fa-tasks font-l-1"></i>
							</div>
							<div class="media-body white">
								<h3 class="font-l-1 mb-1" [countUp]="dashboardLists1.pending_tasks">{{dashboardLists1.pending_tasks}}</h3>
								<span>{{'common.pending' | translate}} {{'tasks.title' | translate}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<a [routerLink]="['/defects']">
			<div class="card green-tea-gradient card-icon">
				<div class="card-body">
					<div class="card-block p-2 pt-4 pb-4">
						<div class="media">
							<div class="media-right white mr-3">
								<i class="fa fa-bug font-l-1"></i>
							</div>
							<div class="media-body white">
								<h3 class="font-l-1 mb-1" [countUp]="dashboardLists1.pending_defects">{{dashboardLists1.pending_defects}}</h3>
								<span>{{'common.pending' | translate}} {{'defects.title' | translate}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<a [routerLink]="['/incidents']">
			<div class="card ibiza-sunset-gradient card-icon">
				<div class="card-body">
					<div class="card-block p-2 pt-4 pb-4">
						<div class="media">
							<div class="media-right white mr-3">
								<i class="fa fa-ticket font-l-1"></i>
							</div>
							<div class="media-body white">
								<h3 class="font-l-1 mb-1" [countUp]="dashboardLists1.pending_incidents">{{dashboardLists1.pending_incidents}}</h3>
								<span>{{'common.pending' | translate}} {{'incidents.title' | translate}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<div class="row" *ngIf="!loginUser.is_client">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card">
           <div class="card-body">
              <div class="card-block p-3">
                 <div class="media">
                    <div class="media-right white mr-3 card-icon-1 purple-deep-purple-gradient">
                       <i class="fa fa-universal-access font-l-1"></i>
                    </div>
                    <div class="media-body ml-3">
                       <h3 class="font-l-1 mb-1">{{dashboardLists.total_team}}</h3>
                       <span>{{'teams.title' | translate}}</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card">
           <div class="card-body">
              <div class="card-block p-3">
                 <div class="media">
                    <div class="media-right white mr-3 card-icon-1 cosmic-fusion-gradient">
                       <i class="fa fa-users font-l-1"></i>
                    </div>
                    <div class="media-body ml-3">
                       <h3 class="font-l-1 mb-1">{{dashboardLists.total_user}}</h3>
                       <span>{{'users.title' | translate}}</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card">
           <div class="card-body">
              <div class="card-block p-3">
                 <div class="media">
                    <div class="media-right white mr-3 card-icon-1 green-teal-gradient">
                       <i class="fa fa-user-circle font-l-1"></i>
                    </div>
                    <div class="media-body ml-3">
                       <h3 class="font-l-1 mb-1">{{dashboardLists.total_client}}</h3>
                       <span>{{'clients.title' | translate}}</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card">
           <div class="card-body">
              <div class="card-block p-3">
                 <div class="media">
                    <div class="media-right white mr-3 card-icon-1 purple-amber-gradient">
                       <i class="fa fa-newspaper-o font-l-1"></i>
                    </div>
                    <div class="media-body ml-3">
                       <h3 class="font-l-1 mb-1">{{dashboardLists.total_kb_article}}</h3>
                       <span>{{'knowledge_base.article.title1' | translate}}</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
</div>