<section id="resetPassword" *ngIf="isSettingsLoad" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
	<div class="container-fluid">
		<div class="row full-height-vh">
			<div class="col-12 d-flex align-items-center justify-content-center">
				<div class="card card-inverse indigo-purple-gradient width-400 login-form">
					<div class="login-user-img d-flex justify-content-end">
						<img alt="element 06" class="mb-2" src="{{apiUrl}}/uploads/company_logo/{{settings.company_logo}}" width="200" height="96" *ngIf="settings.company_logo">
						<img alt="element 06" class="mb-2" src="assets/img/logos/vipspm_logo_large.png" height="96"width="200" *ngIf="!settings.company_logo">
					</div>
					<div class="card-body text-center">
						<div class="card-block">
							<h3 class="text-uppercase mb-3">{{'reset_password.title' | translate}}</h3>
							<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="auth-forms">
								<div class="form-group">
									<div class="col-md-12">
										<input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter Password" autocomplete="off" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.password.errors }" />
										<div *ngIf="isFormSubmitted && userControl.password.errors" class="invalid-feedback">
											<div *ngIf="userControl.password.errors.required">{{'reset_password.create.error_messages.message1' | translate}}</div>
											<div *ngIf="userControl.password.errors.minlength || userControl.password.errors.maxlength">{{'reset_password.create.error_messages.message2' | translate}}</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<input type="password" class="form-control" formControlName="password_confirmation" id="password_confirmation" placeholder="Enter Confirm Password" autocomplete="off" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.password_confirmation.errors }" />
										<div *ngIf="isFormSubmitted && userControl.password_confirmation.errors" class="invalid-feedback">
											<div *ngIf="userControl.password_confirmation.errors.required">{{'reset_password.create.error_messages.message3' | translate}}</div>
											<div *ngIf="userControl.password_confirmation.errors.mustMatch">{{'reset_password.create.error_messages.message4' | translate}}</div>
										</div>
									</div>
								</div>
								<div class="form-group mb-0">
									<div class="col-md-12">
										<button type="submit" class="btn btn-submit">{{'common.submit' | translate}}</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
