<div class="card card-height overflow-y" *ngIf="isPageloaded">
    <div class="card-header border-bottom mb-3">
        <h4 class="card-title mt-2">{{'todos.title' | translate}}</h4>
        <div class="card-buttons">
            <a [routerLink]="['/todos']" *ngxPermissionsOnly="['admin', 'super_admin', 'todos_view']" class="btn btn-rounded mb-0" tooltip="{{'common.lists' | translate}}"><i class="fa fa-list"></i></a>
        </div>
    </div>
    <div class="card-body sidebar-content" [perfectScrollbar]="scrollConfig">
        <div class="card-block pt-0">
            <div class="drag-container" *ngIf="todos.open?.length > 0 || todos.completed?.length > 0">
                <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todos.open" [cdkDropListConnectedTo]="[doneList]" class="item-list" (cdkDropListDropped)="drop($event)">
                    <div class="item-box" *ngFor="let item of todos.open" cdkDrag>
                        <div class="col-md-12">
                            <div class="justify-content-center justify-content-lg-between">
                                <label class="checkbox-container">
                                    <input type="checkbox" class="form-control" name="status" id="status{{item.id}}" (change)="changeStatus(item, 2)" />
                                    <span class="checkbox-checkmark"></span>
                                    {{item.description}}</label>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <ng-container *ngIf="item.module_id == 1">
                                        <a [routerLink]="['/projects/detail', item.module_related_id]" class="text-info">{{item.project_generated_id}} </a>
                                    </ng-container>
                                    <ng-container *ngIf="item.module_id == 2">
                                        <a [routerLink]="['/tasks/detail', item.module_related_id]" class="text-info">{{item.task_generated_id}} </a>
                                    </ng-container>
                                    <ng-container *ngIf="item.module_id == 3">
                                        <a [routerLink]="['/defects/detail', item.module_related_id]" class="text-info">{{item.defect_generated_id}} </a>
                                    </ng-container>
                                    <ng-container *ngIf="item.module_id == 4">
                                        <a [routerLink]="['/incidents/detail', item.module_related_id]" class="text-info">{{item.incident_generated_id}} </a>
                                    </ng-container>
                                </div>
                                <div>{{item.due_date | dateTimeFormatFilter: loginUser.settings.date_format}}</div>
                            </div>
                        </div>
                        <!-- <inline-edit-textarea [name]="'description'" [fieldValue]="item.description" [elementFor]="'todos.inline_edit.description' | translate" [isRequired]="'true'" (updateValue)="saveTodosDetail(item, 'description', $event);"></inline-edit-textarea>
						<inline-edit-date [name]="'due_date'" [fieldValue]="item.due_date" [elementFor]="'todos.inline_edit.due_date' | translate" [isRequired]="'true'" [datepickerConfigs]="datepickerConfigs" [format]="loginUser.settings.date_format" (updateValue)="saveTodosDetail(item, 'due_date', $event);"></inline-edit-date> -->
                    </div>
                </div>
                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="todos.completed" [cdkDropListConnectedTo]="[pendingList]" class="item-list" (cdkDropListDropped)="drop($event)">
                    <div class="item-box" *ngFor="let item of todos.completed" cdkDrag>
                        <div class="col-md-12">
                            <div class="justify-content-center justify-com  justify-content-lg-between">
                                <label class="checkbox-container">
                                    <input type="checkbox" class="form-control" name="status" id="status{{item.id}}" [checked]="true" (change)="changeStatus(item, 1)" />
                                    <span class="checkbox-checkmark"></span>
                                    {{item.description}}
                                </label>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <ng-container *ngIf="item.module_id == 1">
                                        <a [routerLink]="['/projects/detail', item.module_related_id]" class="text-info">{{item.project_generated_id}} </a>
                                    </ng-container>
                                    <ng-container *ngIf="item.module_id == 2">
                                        <a [routerLink]="['/tasks/detail', item.module_related_id]" class="text-info">{{item.task_generated_id}} </a>
                                    </ng-container>
                                    <ng-container *ngIf="item.module_id == 3">
                                        <a [routerLink]="['/defects/detail', item.module_related_id]" class="text-info">{{item.defect_generated_id}} </a>
                                    </ng-container>
                                    <ng-container *ngIf="item.module_id == 4">
                                        <a [routerLink]="['/incidents/detail', item.module_related_id]" class="text-info">{{item.incident_generated_id}} </a>
                                    </ng-container>
                                </div>
                                <div>{{item.due_date | dateTimeFormatFilter: loginUser.settings.date_format}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" *ngIf="todos.open?.length == 0 && todos.completed?.length == 0">
                <img src="assets/img/norecord-img.png" width="50">
                <p class="mt-1">{{ 'common.empty_message.todos' | translate }}</p>
            </div>
        </div>
    </div>
</div>
