<div class="theme-settings color-palettes border-left-blue-grey border-left-lighter-4">
	<a class="theme-settings-close">
		<i class="ft-x font-m-3"></i>
	</a>
	<div class="pt-3 pl-3 pr-3 header">
		<h4 class="mb-0 setting-title">{{'theme_setting.header.head11' | translate}}</h4>
	</div>
	<hr>
	<div class="theme-settings-content p-2 ps-container ps-theme-dark" [perfectScrollbar]="scrollConfig">
		<div class="col-md-12">
			<label>{{'theme_setting.header.head13' | translate}}</label>
			<div class="float-right">
				<div class="onoffswitch">
					<input type="checkbox" class="onoffswitch-checkbox" id="is_collapsed_menu" name="is_collapsed_menu" [(ngModel)]="settings.is_collapsed_menu" (change)="changeCollapsedMenu($event)" />
					<label class="onoffswitch-label m-b-none" for="is_collapsed_menu">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
		<hr>
		<div class="col-md-12">
			<label for="sidebar-width">{{'theme_setting.header.head14' | translate}}</label>
			<ng-select [searchable]="true"
				[items]="('theme_setting.width_options' | translate)"
				[selectOnTab]="true"
				bindLabel="value"
				bindValue="key"
				[clearable]="false"
				labelForId="sidebarWidth"
				placeholder="{{'theme_setting.placeholders.placeholder2' | translate}}"
				[(ngModel)]="settings.sidebar_width"
				(change)="changeSidebarWidth($event)">
			</ng-select>
		</div>
		<div class="col-md-12 mt-1">
			<label for="sidebar-width">{{'theme_setting.header.head3' | translate}}</label>
			<ng-select [searchable]="true"
				[items]="('theme_setting.layout_options' | translate)"
				[selectOnTab]="true"
				bindLabel="value"
				bindValue="key"
				labelForId="layout"
				[clearable]="false"
				placeholder="{{'theme_setting.placeholders.placeholder1' | translate}}"
				[(ngModel)]="settings.theme_layout"
				(change)="changeBGColorLayout($event)">
			</ng-select>
		</div>
		<hr>
		<ng-container *ngIf="settings.theme_layout == 'light' || settings.theme_layout == 'dark-layout'">
			<h6 class="setting-title mb-3">{{'theme_setting.header.head4' | translate}}</h6>
			<div class="sidebar-bg-color row">
				<div class="row p-1 full-width m-0">
					<div class="col-3 mb-3" *ngFor="let bgolor of sidebarBGGradientColors; let index=index">
						<a (click)="selectSidebarBGGradientColor(bgolor.key)"><span class="gradient-aqua-marine rounded box-shadow-2 d-block height-100" [ngClass]="bgolor.value"></span></a>
					</div>
				</div>
				<div class="row p-1 full-width m-0">
					<div class="col-3 mb-3" *ngFor="let color of sidebarBGColors; let index=index">
						<a (click)="selectSidebarBGColor(color.key)"><span class="gradient-aqua-marine rounded box-shadow-2 full-width height-100" [ngClass]="color.value"></span></a>
					</div>
				</div>
			</div>
			<hr>
			<h6 class="setting-title mb-3">{{'theme_setting.header.head5' | translate}}</h6>
			<div class="sidebar-bg-image row">
				<div class="col-md-12">
					<span>{{'theme_setting.header.head6' | translate}}</span>
					<div class="float-right">
						<label class="checkbox-container">
							<input class="form-control sidebar-bg-image-display" type="checkbox" [(ngModel)]="settings.is_sidebar_background" (change)="changeBGImage($event)">
							<span class="checkbox-checkmark"></span>
						</label>
					</div>
				</div>
				<div class="col-md-12 mt-3">
					<carousel [(activeSlide)]="sidebar_bg_image" [itemsPerSlide]="itemsPerSlide" [showIndicators]="showIndicator">
						<slide *ngFor="let slide of sidebarBGImages; let index=index">
							<img [attr.src]="slide.image" alt="image slide" class="img-fluid d-block mx-auto width-200 height-150" (click)="selectSidebarBGImage(index)">
						</slide>
					</carousel>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="settings.theme_layout == 'transparent-layout'">
			<h6 class="setting-title mb-3">{{'theme_setting.header.head7' | translate}}</h6>
			<div class="cz-tl-bg-color">
				<div class="row p-1">
					<div class="col" *ngFor="let color of transparentBGColors; let index=index">
						<a (click)="selectTransparentBGColor(color.key)"><span class="d-block rounded-circle height-30 width-30" [ngClass]="color.value"></span></a>
					</div>
				</div>
			</div>
			<hr>
			<h6 class="setting-title mb-3">{{'theme_setting.header.head8' | translate}}</h6>
			<div class="body-bg-image row">
				<div class="col mb-3" *ngFor="let slide of transparentBGImages; let index=index">
					<a (click)="selectTrasparentBGImage(slide.class)"><img [attr.src]="slide.image" class="rounded" width="60"></a>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="settings.theme_layout == 'custom-colors'">
			<h6 class="setting-title mb-3">{{'theme_setting.header.head9' | translate}}</h6>
			<div class="sidebar-bg-color row">
				<div class="row p-1">
					<div class="col">
						<input [(colorPicker)]="sidebarCustomColor"
							[style.background]="sidebarCustomColor"
							(colorPickerChange)="changeSidebarTransparentColors($event)"
							[cpCancelButton]="true"
							[cpOKButton]="true"
							id="sidebarCustomColor"
							(colorPickerSelect)="selectSidebarTransparentColors($event)"
							class="form-control round" 
							[(ngModel)]="settings.sidebar_bg_custom_color">
					</div>
					<div class="col"></div>
				</div>
			</div>
			<hr>
			<h6 class="setting-title mb-3">{{'theme_setting.header.head10' | translate}}</h6>
			<div class="sidebar-bg-color row">
				<div class="row p-1">
					<div class="col">
						<a (click)="selectSidebarTransparentFontColor('black')"><span class="d-block bg-white border height-30 width-30"></span></a>
					</div>
					<div class="col">
						<a (click)="selectSidebarTransparentFontColor('white')"><span class="d-block bg-black border height-30 width-30"></span></a>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>