<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{'users.title7' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form (ngSubmit)="onSubmit()" class="bs4-forms">
	<div class="modal-body">
		<div class="form-row">
			<div class="col-12">
				<div class="dropzone dz-clickable" #profileDropzone>
					<div class="dz-preview dz-image-preview" *ngIf="isProfileLoaded && usersData.avatar">
						<div class="dz-image">
							<img src="{{apiUrl}}/uploads/profile/{{usersData.avatar}}" />
						</div>
						<a class="btn btn-sm btn-block" (click)="removeDropzoneImage()">{{'common.remove_file' | translate}}</a>
					</div>
					<div class="dz-default dz-message">
						<span><strong>{{'users.create.error_messages.message11' | translate}}</strong></span>
					</div>
					<!-- <div class="dz-default dz-message" *ngIf="isProfileUploded">
						<span><strong></strong></span>
					</div> -->
				</div>
				<div class="people-lists text-center">
					<a *ngFor="let avatar of avatars;" (click)="setAvatar(avatar)" [ngClass]="{active: isActive(avatar)}" class="btn btn-profile-danger rounded-circle text-dark" >
						<img src="{{apiUrl}}/uploads/profile/{{avatar}}" class="img-sm rounded-circle" alt="Profile" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" data-dismiss="modal" (click)="onCancel()">{{'common.close' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0"><span>{{'common.update' | translate}}</span></button>
	</div>
</form>
