<section id="basic-form-layouts" *ngIf="isPageLoaded">
	<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title" id="basic-layout-form">{{'users.title2' | translate}}</h4>
					</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> {{'users.headings.head1' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firstname">{{'users.create.fields.first_name' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="firstname" id="firstname" placeholder="{{'users.create.placeholders.placeholder1' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.firstname.errors }" />
											<div *ngIf="isFormSubmitted && userControl.firstname.errors" class="invalid-feedback">
												<div *ngIf="userControl.firstname.errors.required">{{'users.create.error_messages.message1' | translate}}</div>
												<div *ngIf="userControl.firstname.errors.maxlength">{{'users.create.error_messages.message2' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lastname">{{'users.create.fields.last_name' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="lastname" id="lastname" placeholder="{{'users.create.placeholders.placeholder2' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.lastname.errors }" />
											<div *ngIf="isFormSubmitted && userControl.lastname.errors" class="invalid-feedback">
												<div *ngIf="userControl.lastname.errors.required">{{'users.create.error_messages.message3' | translate}}</div>
												<div *ngIf="userControl.lastname.errors.maxlength">{{'users.create.error_messages.message4' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="email">{{'users.create.fields.email' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="email" class="form-control" formControlName="email" id="email" placeholder="{{'users.create.placeholders.placeholder3' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.email.errors }" />
											<div *ngIf="isFormSubmitted && userControl.email.errors" class="invalid-feedback">
												<div *ngIf="userControl.email.errors.required">{{'users.create.error_messages.message5' | translate}}</div>
												<div *ngIf="userControl.email.errors.email">{{'users.create.error_messages.message6' | translate}}</div>
											</div>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-file-text"></i> {{'users.headings.head2' | translate}}</h4>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'users.create.fields.profile_photo' | translate}}</label>
											<input type="hidden" formControlName="avatar">
											<div class="dropzone dz-clickable" #pdfDropzone>
												<div class="dz-preview dz-image-preview" *ngIf="isProfileLoaded && user.avatar">
													<div class="dz-image">
														<img src="{{apiUrl}}/uploads/profile/{{user.avatar}}" />
													</div>
													<a class="btn btn-default btn-sm btn-block" (click)="removeDropzoneImage()">{{'common.remove_file' | translate}}</a>
												</div>
												<!-- <div class="dz-default dz-message" *ngIf="isProfileUploded"> -->
												<div class="dz-default dz-message">
													<span><strong>{{'users.create.error_messages.message11' | translate}}</strong></span>
												</div>
											</div>
											<div class="people-lists text-center">
												<a *ngFor="let avatar of avatars;" (click)="setAvatar(avatar)" [ngClass]="{active: isActive(avatar)}" class="btn btn-profile-danger rounded-circle text-dark" >
													<img src="{{apiUrl}}/uploads/profile/{{avatar}}" class="img-sm rounded-circle" alt="Profile" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.department_roles.errors }">
											<label>{{'users.create.fields.departments_roles' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<ng-select [items]="departmentsRoles"
												bindLabel="name"
												bindValue="id"
												groupBy="department_name"
												[multiple]="true"
												[selectableGroup]="false"
												(change)="departmentRolesChange($event)"
												formControlName="department_roles"
												placeholder="{{'users.create.placeholders.placeholder6' | translate}}">
												<ng-template ng-optgroup-tmp let-item="item">
													{{item.department_name || 'Unnamed group'}}
												</ng-template>
											</ng-select>
											<div *ngIf="isFormSubmitted && userControl.department_roles.errors" class="invalid-feedback">
												<div *ngIf="userControl.department_roles.errors.required">{{'users.create.error_messages.message12' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'users.create.fields.assigned_to' | translate}}&nbsp;<span class="text-danger">*</span></label><br />
											<div class="form-check radio-container">
												<input class="form-check-input" formControlName="assign_permission" type="radio" value="all" id="customize_permission1" (change)="changePermission($event);isButtonShow = false" />
												<label class="form-check-label" for="customize_permission1">{{'users.create.fields.everyone' | translate}}</label>
												<span class="radio-checkmark"></span>
											</div><br />
											<div class="form-check radio-container">
												<input class="form-check-input" formControlName="assign_permission" type="radio" value="cutomize" id="customize_permission2" (change)="changePermission($event);isButtonShow = true" />
												<label class="form-check-label" for="customize_permission2">{{'users.create.fields.customize_permission' | translate}}</label>
												<span class="radio-checkmark"></span><br /><br />
												<button class="btn btn-raised btn-primary" (click)="openAssignUserModal($event)" *ngIf="isButtonShow"><span>{{'users.buttons.assign_permission' | translate}}</span></button>
											</div>
											<div *ngIf="isPermissionRequired" class="invalid-feedback d-block">{{'users.create.error_messages.message13' | translate}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">&nbsp;</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> {{'users.headings.head3' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="user_generated_id">{{'users.create.fields.userid' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="user_generated_id" id="user_generated_id" placeholder="USR000" readonly [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.user_generated_id.errors }" />
											<div *ngIf="isFormSubmitted && userControl.user_generated_id.errors" class="invalid-feedback">
												<div *ngIf="userControl.user_generated_id.errors.required">{{'users.create.error_messages.message14' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="employee_id">{{'users.create.fields.employment_ID' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="emp_id" id="employee_id" placeholder="EMP0001" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.emp_id.errors }" />
											<div *ngIf="isFormSubmitted && userControl.emp_id.errors" class="invalid-feedback">
												<div *ngIf="userControl.emp_id.errors.required">{{'users.create.error_messages.message15' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="username">{{'users.create.fields.username' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<div class="input-group">
												<div class="input-group-prepend no-borders no-paddings">
													<span class="input-group-text font-12" id="usernamePrepend">@</span>
												</div>
												<input type="text" class="form-control" id="username" placeholder="{{'users.create.placeholders.placeholder7' | translate}}" aria-describedby="usernamePrepend" formControlName="username" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.username.errors }" />
												<div *ngIf="isFormSubmitted && userControl.username.errors" class="invalid-feedback">
													<div *ngIf="userControl.username.errors.required">{{'users.create.error_messages.message16' | translate}}</div>
													<div *ngIf="userControl.username.errors.minlength || userControl.username.errors.maxlength || userControl.username.errors.pattern">{{'users.create.error_messages.message17' | translate}}</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="skype">{{'users.create.fields.skype' | translate}}</label>
											<input type="text" class="form-control" placeholder="{{'users.create.placeholders.placeholder8' | translate}}" formControlName="skype" id="skype" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="country">{{'users.create.fields.country' | translate}}</label>
											<ng-select [searchable]="true"
												[items]="countries"
												[selectOnTab]="true"
												bindLabel="name"
												bindValue="id"
												labelForId="country"
												placeholder="{{'users.create.placeholders.placeholder9' | translate}}"
												formControlName="country">
											</ng-select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="language">{{'users.create.fields.language' | translate}}</label>
											<ng-select [searchable]="true"
												[items]="languages"
												[selectOnTab]="true"
												bindLabel="name"
												bindValue="language"
												labelForId="language"
												placeholder="{{'users.create.placeholders.placeholder10' | translate}}"
												formControlName="language">
											</ng-select>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-mail"></i> {{'users.headings.head4' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="mobile">{{'users.create.fields.mobile' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="mobile" id="mobile" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.mobile.errors }" />
											<div *ngIf="isFormSubmitted && userControl.mobile.errors" class="invalid-feedback">
												<div *ngIf="userControl.mobile.errors.pattern">{{'users.create.error_messages.message18' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="phone">{{'users.create.fields.phone' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="phone" id="phone" [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.phone.errors }" />
											<div *ngIf="isFormSubmitted && userControl.phone.errors" class="invalid-feedback">
												<div *ngIf="userControl.phone.errors.pattern">{{'users.create.error_messages.message19' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<label class="checkbox-container">
											<input type="checkbox" class="form-control" formControlName="is_super_admin" id="is_super_admin" />{{'users.create.fields.is_departmenthead' | translate}}
											<span class="checkbox-checkmark"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<a [routerLink]="['/users']" class="btn btn-cancel">{{'common.cancel' | translate}}</a>
				<button type="submit" class="btn btn-submit">{{'common.update' | translate}}</button>
			</div>
		</div>
	</form>
</section>
