<section id="basic-form-layouts" *ngIf="isPageLoaded">
	<form [formGroup]="editClientForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title" id="basic-layout-form">{{'clients.title2' | translate}}</h4>
					</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> {{'clients.headings.head1' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firstname">{{'clients.create.fields.first_name' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="firstname" id="firstname" placeholder="{{'clients.create.placeholders.placeholder1' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.firstname.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.firstname.errors" class="invalid-feedback">
												<div *ngIf="clientControl.firstname.errors.required">{{'clients.create.error_messages.message1' | translate}}</div>
												<div *ngIf="clientControl.firstname.errors.maxlength">{{'clients.create.error_messages.message2' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lastname">{{'clients.create.fields.last_name' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="lastname" id="lastname" placeholder="{{'clients.create.placeholders.placeholder2' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.lastname.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.lastname.errors" class="invalid-feedback">
												<div *ngIf="clientControl.lastname.errors.required">{{'clients.create.error_messages.message3' | translate}}</div>
												<div *ngIf="clientControl.lastname.errors.maxlength">{{'clients.create.error_messages.message4' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="email">{{'clients.create.fields.email' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="email" class="form-control" formControlName="email" id="email" placeholder="{{'clients.create.placeholders.placeholder3' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.email.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.email.errors" class="invalid-feedback">
												<div *ngIf="clientControl.email.errors.required">{{'clients.create.error_messages.message5' | translate}}</div>
												<div *ngIf="clientControl.email.errors.email">{{'clients.create.error_messages.message6' | translate}}</div>
											</div>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-user"></i> {{'clients.headings.head2' | translate}}</h4>
								<div class="row" formGroupName="clients">
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_name">{{'clients.create.fields.company_name' | translate}}</label>
											<input type="text" class="form-control" formControlName="company_name" id="company_name" placeholder="{{'clients.create.placeholders.placeholder6' | translate}}" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_email">{{'clients.create.fields.company_email' | translate}}</label>
											<input type="email" class="form-control" formControlName="company_email" id="company_email" placeholder="{{'clients.create.placeholders.placeholder7' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.clients.controls.company_email.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.clients.controls.company_email.errors" class="invalid-feedback">
												<div *ngIf="clientControl.clients.controls.company_email.errors.email">{{'clients.create.error_messages.message6' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_phone">{{'clients.create.fields.company_phone' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="company_phone" id="company_phone" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.clients.controls.company_phone.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.clients.controls.company_phone.errors" class="invalid-feedback">
												<div *ngIf="clientControl.clients.controls.company_phone.errors.pattern">{{'clients.create.error_messages.message12' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_mobile">{{'clients.create.fields.company_mobile' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="company_mobile" id="company_mobile" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.clients.controls.company_mobile.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.clients.controls.company_mobile.errors" class="invalid-feedback">
												<div *ngIf="clientControl.clients.controls.company_mobile.errors.pattern">{{'clients.create.error_messages.message14' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_country">{{'clients.create.fields.company_country' | translate}}</label>
											<ng-select [searchable]="true"
												[items]="countries"
												[selectOnTab]="true"
												bindLabel="name"
												bindValue="id"
												labelForId="company_country"
												placeholder="{{'clients.create.placeholders.placeholder8' | translate}}"
												formControlName="company_country">
											</ng-select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_city">{{'clients.create.fields.company_city' | translate}}</label>
											<input type="text" class="form-control" formControlName="company_city" placeholder="{{'clients.create.placeholders.placeholder9' | translate}}" id="company_city" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_zipcode">{{'clients.create.fields.zip_code' | translate}}</label>
											<input type="text" class="form-control" formControlName="company_zipcode" placeholder="{{'clients.create.placeholders.placeholder10' | translate}}" id="company_zipcode" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_fax">{{'clients.create.fields.company_fax' | translate}}</label>
											<input type="text" class="form-control" formControlName="company_fax" placeholder="{{'clients.create.placeholders.placeholder11' | translate}}" id="company_fax" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="website">{{'clients.create.fields.company_website' | translate}}</label>
											<input type="text" class="form-control" formControlName="website" placeholder="{{'clients.create.placeholders.placeholder12' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.clients.controls.website.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.clients.controls.website.errors" class="invalid-feedback">
												<div *ngIf="clientControl.clients.controls.website.errors.pattern">{{'clients.create.error_messages.message15' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="skype_id">{{'clients.create.fields.skype' | translate}}</label>
											<input type="text" class="form-control" formControlName="skype_id" placeholder="{{'clients.create.placeholders.placeholder13' | translate}}" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="company_address">{{'clients.create.fields.company_address' | translate}}</label>
											<textarea class="form-control" formControlName="company_address" id="company_address" placeholder="{{'clients.create.placeholders.placeholder14' | translate}}"></textarea>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-server"></i> {{'clients.headings.head3' | translate}}</h4>
								<div class="row" formGroupName="clients">
									<div class="col-md-6">
										<div class="form-group">
											<label for="hosting_company">{{'clients.create.fields.hosting_company' | translate}}</label>
											<input type="text" class="form-control" formControlName="hosting_company" placeholder="{{'clients.create.placeholders.placeholder15' | translate}}" id="hosting_company" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="host_username">{{'clients.create.fields.username' | translate}}</label>
											<input type="text" class="form-control" formControlName="host_username" placeholder="{{'clients.create.placeholders.placeholder16' | translate}}" id="host_username" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="host_password">{{'clients.create.fields.password' | translate}}</label>
											<input type="password" class="form-control" formControlName="host_password" placeholder="{{'clients.create.placeholders.placeholder17' | translate}}" id="host_password" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="host_port">{{'clients.create.fields.port' | translate}}</label>
											<input type="text" class="form-control" formControlName="host_port" placeholder="{{'clients.create.placeholders.placeholder18' | translate}}" id="host_port" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">&nbsp;</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> {{'clients.headings.head4' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="user_generated_id">{{'clients.create.fields.client_ID' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="user_generated_id" id="user_generated_id" placeholder="USR000" readonly [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.user_generated_id.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.user_generated_id.errors" class="invalid-feedback">
												<div *ngIf="clientControl.user_generated_id.errors.required">{{'clients.create.error_messages.message17' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="username">{{'clients.create.fields.username' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<div class="input-group">
												<div class="input-group-prepend no-borders no-paddings">
													<span class="input-group-text font-12" id="usernamePrepend">@</span>
												</div>
												<input type="text" class="form-control" id="username" placeholder="Enter Username" aria-describedby="usernamePrepend" formControlName="username" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.username.errors }" />
												<div *ngIf="isFormSubmitted && clientControl.username.errors" class="invalid-feedback">
													<div *ngIf="clientControl.username.errors.required">{{'clients.create.error_messages.message19' | translate}}</div>
													<div *ngIf="clientControl.username.errors.minlength || clientControl.username.errors.maxlength || clientControl.username.errors.pattern">{{'clients.create.error_messages.message20' | translate}}</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="skype">{{'clients.create.fields.skype' | translate}}</label>
											<input type="text" class="form-control" placeholder="{{'clients.create.placeholders.placeholder20' | translate}}" formControlName="skype" id="skype" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="country">{{'clients.create.fields.country' | translate}}</label>
											<ng-select [searchable]="true"
												[items]="countries"
												[selectOnTab]="true"
												bindLabel="name"
												bindValue="id"
												labelForId="country"
												placeholder="{{'clients.create.placeholders.placeholder21' | translate}}"
												formControlName="country">
											</ng-select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="language">{{'clients.create.fields.language' | translate}}</label>
											<ng-select [searchable]="true"
												[items]="languages"
												[selectOnTab]="true"
												bindLabel="name"
												bindValue="language"
												labelForId="language"
												placeholder="{{'clients.create.placeholders.placeholder22' | translate}}"
												formControlName="language">
											</ng-select>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-mail"></i> {{'clients.headings.head5' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="mobile">{{'clients.create.fields.mobile' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="mobile" id="mobile" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.mobile.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.mobile.errors" class="invalid-feedback">
												<div *ngIf="clientControl.mobile.errors.pattern">{{'clients.create.error_messages.message21' | translate}}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="phone">{{'clients.create.fields.phone' | translate}}</label>
											<input type="text" class="form-control" placeholder="xxxxxxxxxx" formControlName="phone" id="phone" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.phone.errors }" />
											<div *ngIf="isFormSubmitted && clientControl.phone.errors" class="invalid-feedback">
												<div *ngIf="clientControl.phone.errors.pattern">{{'clients.create.error_messages.message22' | translate}}</div>
											</div>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-file-text"></i> {{'clients.headings.head6' | translate}}</h4>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'clients.create.fields.profile_photo' | translate}}</label>
											<input type="hidden" formControlName="avatar">
											<div class="dropzone dz-clickable" #profiledropzone>
												<div class="dz-preview dz-image-preview" *ngIf="isProfileLoaded && client.avatar">
													<div class="dz-image">
														<img src="{{apiUrl}}/uploads/profile/{{client.avatar}}" />
													</div>
													<a class="btn btn-default btn-sm btn-block" (click)="removeDropzoneImage()">{{'common.remove_file' | translate}}</a>
												</div>
												<div class="dz-default dz-message">
													<span><strong>{{'clients.create.error_messages.message23' | translate}}</strong></span>
												</div>
											</div>
											<div class="people-lists text-center">
												<a *ngFor="let avatar of avatars;" (click)="setAvatar(avatar)" [ngClass]="{active: isActive(avatar)}" class="btn btn-profile-danger rounded-circle text-dark" >
													<img src="{{apiUrl}}/uploads/profile/{{avatar}}" class="img-sm rounded-circle" alt="Profile" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && clientControl.department_roles.errors }">
											<label>{{'clients.create.fields.departments_roles' | translate}}&nbsp;<span class="text-danger">*</span></label>
											<ng-select [items]="departmentsRoles"
												bindLabel="name"
												bindValue="id"
												groupBy="department_name"
												[multiple]="true"
												[selectableGroup]="false"
												(change)="departmentRolesChange($event)"
												formControlName="department_roles"
												placeholder="{{'clients.create.placeholders.placeholder23' | translate}}">
												<ng-template ng-optgroup-tmp let-item="item">
													{{item.department_name || 'Unnamed group'}}
												</ng-template>
											</ng-select>
											<div *ngIf="isFormSubmitted && clientControl.department_roles.errors" class="invalid-feedback">
												<div *ngIf="clientControl.department_roles.errors.required">{{'clients.create.error_messages.message24' | translate}}</div>
											</div>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-file-text"></i> {{'clients.headings.head7' | translate}}</h4>
								<div class="row" formGroupName="clients">
									<div class="col-md-6">
										<div class="form-group">
											<label for="facebook">{{'clients.create.fields.facebook_URL' | translate}}</label>
											<input type="text" class="form-control" formControlName="facebook" placeholder="{{'clients.create.placeholders.placeholder24' | translate}}" id="facebook" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="twitter">{{'clients.create.fields.twitter_URL' | translate}}</label>
											<input type="text" class="form-control" formControlName="twitter" placeholder="{{'clients.create.placeholders.placeholder25' | translate}}" id="twitter" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="linkedin">{{'clients.create.fields.linkedIn_URL' | translate}}</label>
											<input type="text" class="form-control" formControlName="linkedin" placeholder="{{'clients.create.placeholders.placeholder26' | translate}}" id="linkedin" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<a [routerLink]="['/clients']" class="btn btn-cancel">{{'common.cancel' | translate}}</a>
				<button type="submit" class="btn btn-submit">{{'common.update' | translate}}</button>
			</div>
		</div>
	</form>
</section>
