<section *ngIf="isPageLoaded" class="dashboard_1">
    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <p>Demo resets every 12 hour on GMT+2 . Feel free to test all the features before purchasing, keep in mind that some features are disabled.</p>
            </div>
        </div>
    </div> -->
    <app-pm-dashboard-widgets [dashboardLists]="dashboardLists" [dashboardLists1]="dashboardLists1" [loginUser]="loginUser"></app-pm-dashboard-widgets>
    <app-pm-dashboard-charts [projectChartReport]="dashboardLists1.project_count_by_status" [taskReport]="dashboardLists1.task_count_by_status" [monthlyReport]="dashboardLists1.count_by_month" *ngIf="!loginUser.is_client"></app-pm-dashboard-charts>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-4 col-lg-12" *ngIf="settings.is_projects_dashboard">
                    <app-pm-dashboard-projects [projects]="dashboardLists1.projects" [userLists]="userLists" [loginUser]="loginUser" [apiUrl]="apiUrl"></app-pm-dashboard-projects>
                </div>
                <div class="col-xl-4 col-lg-12" *ngIf="settings.is_tasks_dashboard">
                    <app-pm-dashboard-tasks [tasks]="dashboardLists1.tasks" [loginUser]="loginUser" [apiUrl]="apiUrl"></app-pm-dashboard-tasks>
                </div>
                <div class="col-xl-4 col-lg-12" *ngIf="settings.is_defects_dashboard">
                    <app-pm-dashboard-defects [defects]="dashboardLists1.defects" [loginUser]="loginUser" [apiUrl]="apiUrl"></app-pm-dashboard-defects>
                </div>
                <div class="col-xl-4 col-lg-12" *ngIf="settings.is_incidents_dashboard">
                    <app-pm-dashboard-incidents [incidents]="dashboardLists1.incidents" [loginUser]="loginUser" [apiUrl]="apiUrl"></app-pm-dashboard-incidents>
                </div>
                <div class="col-xl-4 col-lg-12" *ngIf="settings.is_todos_dashboard">
                    <app-pm-dashboard-todos [loginUser]="loginUser"></app-pm-dashboard-todos>
                </div>
                <div class="col-xl-4 col-lg-12" *ngIf="settings.is_activities_dashboard">
                    <app-pm-dashboard-activity [todaysActivity]="dashboardLists.today_activities" [loginUser]="loginUser" [apiUrl]="apiUrl"></app-pm-dashboard-activity>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-12" *ngIf="settings.is_meetings_dashboard">
                    <app-pm-dashboard-meetings [meetings]="dashboardLists.meetings" [loginUser]="loginUser"></app-pm-dashboard-meetings>
                </div>
                <div class="col-xl-6 col-lg-12" *ngIf="settings.is_announcement_dashboard && !loginUser.is_client">
                    <app-pm-dashboard-announcements [announcements]="dashboardLists.announcement" [loginUser]="loginUser"></app-pm-dashboard-announcements>
                </div>
            </div>
        </div>
    </div>
</section>
