// ======================================================================================================
//  File Name: misc.scss
//  Description: Miscellaneous class, tags css for extra components like hr tag, a tag, list styles etc ..
//         related customiztion.
// ======================================================================================================

// --
// Prevent highlight on mobile
* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	&:focus {
		outline: 0;
	}
}

a:focus, a:active,
button:active, button:focus, button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	outline : 0 !important;
}

hr	{
	border-color: #a8a8a8;
}

ul.list-inline {
	i {
		line-height: 18px;
	}
}

legend {
	border-bottom: 0;
}
.card-height-chart {
	height: 500px !important;
}
.card-height {
	height: 580px !important;
}
.overflow-y{
	overflow-y:hidden !important;
}

.overflow-x{
	overflow-x:auto !important;
}