<section id="login" *ngIf="isSettingsLoad" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card card-inverse indigo-purple-gradient width-400 login-form">
          <div class="login-user-img d-flex justify-content-center">
            <ng-container *ngIf="settings != null && settings.company_logo; else elseCondition;">
              <img alt="element 06" class="mb-2" src="{{apiUrl}}/uploads/company_logo/{{settings.company_logo}}"
                width="200" height="96">
            </ng-container>
            <ng-template #elseCondition>
              <img alt="element 06" class="mb-2" src="assets/img/logos/vipspm_logo_large.png" width="200" height="96">
            </ng-template>
          </div>
          <div class="card-body text-center">
            <div class="card-block pb-0">
              <h3 class="text-uppercase mb-3">{{'login.title' | translate}}</h3>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-forms">
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="text" class="form-control"
                      placeholder="{{'login.fields.email.placeholder' | translate}}" formControlName="email"
                      [ngClass]="{ 'is-invalid': userControl.email.errors }" />
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                      <div *ngIf="email.errors.required">
                        {{'login.fields.email.errors.required' | translate}}
                      </div>
                      <div *ngIf="email.errors.email">{{'forgot_password.create.error_messages.message2' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="password" class="form-control"
                      placeholder="{{'login.fields.password.placeholder' | translate}}" formControlName="password"
                      [ngClass]="{ 'is-invalid': userControl.password.errors }" />
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                      <div *ngIf="password.errors.required">
                        {{'login.fields.password.errors.required' | translate}}</div>
                      <div *ngIf="password.errors.minlength || password.errors.maxlength">
                        {{'login.fields.password.errors.email' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-submit">{{'login.title' |
                      translate}}</button>
                    <div class="text-center forgot-password">
                      <a [routerLink]="['/forgot-password']"
                        class="font-italic"><small>{{'login.buttons.forgot_password' |
                          translate}}</small></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-footer text-center">
            <div class="form-group">
              <div class="col-md-12">
                <div class="text-center" class="mb-1">
                  <h5>{{'login.buttons.register.text' | translate}}</h5>
                </div>
                <div><a class="btn btn-cancel m-0" [routerLink]="['/register']">{{'login.buttons.register.button' |
                    translate}}</a>
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
							<div class="col-md-12 d-flex">
								<div class="row">
								<div class=" pl-0 pr-0">
									<button type="button" class="btn btn-submit btn-sm" (click)="instantLogin('admin@gmail.com','Admin123!')">{{'login.buttons.admin_login' | translate}}</button>
								</div>
								<div class=" pl-0 pr-0">
									<button type="button" class="btn btn-submit btn-sm" (click)="instantLogin('user@gmail.com','User123!')">{{'login.buttons.user_login' | translate}}</button>
								</div>
								<div class=" pl-0 pr-0">
									<button type="button" class="btn btn-submit btn-sm" (click)="instantLogin('client@gmail.com','Client123!')">{{'login.buttons.client_login' | translate}}</button>
								</div>
								</div>
							</div>
						</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>