<section id="basic-form-layouts">
	<form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">{{'projects.title1' | translate}}</h4>
					</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-zap" aria-hidden="true"></i>{{'projects.headings.head1' |
									translate}}</h4>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label for="project_name">{{'projects.create.fields.project_name' | translate }}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="project_name" id="project_name"
												placeholder="{{'projects.create.placeholders.placeholder1' | translate }}"
												[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.project_name.errors }" />
											<div *ngIf="isFormSubmitted && projectControl.project_name.errors" class="invalid-feedback">
												<div *ngIf="projectControl.project_name.errors.required">
													{{'projects.create.error_messages.message1' | translate }}</div>
												<div *ngIf="projectControl.project_name.errors.maxlength">
													{{'projects.create.error_messages.message2' | translate }}</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="project_version">{{'projects.create.fields.version' | translate }}&nbsp;<span
													class="text-danger">*</span></label>
											<input type="text" class="form-control"
												placeholder="{{'projects.create.placeholders.placeholder2' | translate }}"
												formControlName="project_version" id="project_version"
												[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.project_version.errors }" />
											<div *ngIf="isFormSubmitted && projectControl.project_version.errors" class="invalid-feedback">
												<div *ngIf="projectControl.project_version.errors.required">
													{{'projects.create.error_messages.message3' | translate }}</div>
												<div *ngIf="projectControl.project_version.errors.pattern">
													{{'projects.create.error_messages.message4' | translate }}</div>
											</div>
											<span class="badge badge-secondary">{{'projects.budges.version' | translate }}: 1.0, 1.1,
												1.2</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="client_id">{{'projects.create.fields.client_name' | translate }}</label>
											<ng-select [searchable]="true" [items]="clients" [selectOnTab]="true" bindLabel="firstname"
												bindValue="id" labelForId="client_id" formControlName="client_id"
												placeholder="{{'projects.create.placeholders.placeholder3' | translate }}">
												<ng-template ng-option-tmp let-item="item">
													{{item.firstname}} {{item.lastname}}
												</ng-template>
											</ng-select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group"
											[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.status.errors }">
											<label for="status">{{'projects.create.fields.status' | translate }}&nbsp;<span
													class="text-danger">*</span> </label>
											<ng-select [searchable]="true" [items]="('projects.status' | translate)" [selectOnTab]="true"
												bindLabel="label" bindValue="id" labelForId="status" formControlName="status"
												placeholder="{{'projects.create.placeholders.placeholder4' | translate }}">
											</ng-select>
											<div *ngIf="isFormSubmitted && projectControl.status.errors" class="invalid-feedback">
												<div *ngIf="projectControl.status.errors.required">{{'projects.create.error_messages.message6' |
													translate }}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<div class="form-group">
												<label for="assign_to">{{'projects.create.fields.assigned_group' | translate }}</label>
												<ng-select [searchable]="true" [items]="teams" [selectOnTab]="true" bindLabel="team_name"
													bindValue="id" labelForId="assign_to" formControlName="assign_to"
													placeholder="{{'projects.create.placeholders.placeholder5' | translate }}"
													(change)="assignGroupChange($event)">
												</ng-select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group"
											[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.demo_url.errors }">
											<label for="demo_url">{{'projects.create.fields.demo_URL' | translate }}</label>
											<input type="text" class="form-control" placeholder="https://example.com"
												formControlName="demo_url" id="demo_url"
												[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.demo_url.errors }" />
											<div *ngIf="isFormSubmitted && projectControl.demo_url.errors" class="invalid-feedback">
												<div *ngIf="projectControl.demo_url.errors.pattern">{{'projects.create.error_messages.message8'
													| translate }}</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="assign_members">{{'projects.create.fields.assigned_To' | translate }}</label>
											<ng-select [searchable]="true" [items]="teamsMembers" [multiple]="true" [selectOnTab]="true"
												bindLabel="firstname" bindValue="id" labelForId="assign_members"
												formControlName="assign_members"
												placeholder="{{'projects.create.placeholders.placeholder6' | translate }}">
												<ng-template ng-option-tmp let-item="item">{{item.firstname}} {{item.lastname}}</ng-template>
											</ng-select>
										</div>
									</div>
								</div>
								<h4 class="form-section"><i class="ft-calendar"></i> {{'projects.headings.head2' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group"
											[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.start_date.errors }">
											<label for="start_date">{{'projects.create.fields.start_date' | translate }}&nbsp;<span
													class="text-danger">*</span></label>
											<div class="position-relative has-icon-left">
												<input type="text" class="form-control" #dp1="bsDatepicker" bsDatepicker
													[bsConfig]="datepickerConfig" (bsValueChange)="startDateChange($event)"
													formControlName="start_date" id="start_date"
													placeholder="{{'projects.create.placeholders.placeholder7' | translate }}" />
												<div class="form-control-position"><i class="ft-calendar"></i></div>
												<div *ngIf="isFormSubmitted && projectControl.start_date.errors" class="invalid-feedback">
													<div *ngIf="projectControl.start_date.errors.required">
														{{'projects.create.error_messages.message9' | translate }}</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group"
											[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.end_date.errors }">
											<label for="end-date">{{'projects.create.fields.end_date' | translate }}&nbsp;<span
													class="text-danger">*</span></label>
											<div class="position-relative has-icon-left">
												<input type="text" class="form-control" #dp2="bsDatepicker" bsDatepicker
													[bsConfig]="datepickerConfig" [minDate]="createProjectForm.get('start_date').value"
													formControlName="end_date" id="end_date"
													placeholder="{{'projects.create.placeholders.placeholder8' | translate }}" />
												<div class="form-control-position"><i class="ft-calendar"></i></div>
												<div *ngIf="isFormSubmitted && projectControl.end_date.errors" class="invalid-feedback">
													<div *ngIf="projectControl.end_date.errors.required">
														{{'projects.create.error_messages.message10' | translate }}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">&nbsp;</div>
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-box"></i> {{'projects.headings.head3' | translate}}</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="type">{{'projects.create.fields.billing_type' | translate }}</label>
											<ng-select [searchable]="true" [items]="('projects.billing_types' | translate)"
												[selectOnTab]="true" bindLabel="label" bindValue="id" labelForId="billing_type"
												formControlName="billing_type"
												placeholder="{{'projects.create.placeholders.placeholder9' | translate }}">
											</ng-select>
										</div>
									</div>
									<div class="col-md-6"
										*ngIf="createProjectForm.get('billing_type').value == 1 || createProjectForm.get('billing_type').value == 2 || createProjectForm.get('billing_type').value == null">
										<div class="form-group fixed_rate">
											<label for="price_rate"
												*ngIf="createProjectForm.get('billing_type').value == 1 || createProjectForm.get('billing_type').value == null">{{'projects.create.fields.fixed_price'
												| translate }}</label>
											<label for="price_rate"
												*ngIf="createProjectForm.get('billing_type').value == 2">{{'projects.create.fields.hourly_rate'
												| translate }}</label>
											<input type="text" class="form-control"
												placeholder="{{'projects.create.placeholders.placeholder10' | translate }}"
												formControlName="price_rate" id="price_rate"
												[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.price_rate.errors }" />
											<div *ngIf="isFormSubmitted && projectControl.price_rate.errors" class="invalid-feedback">
												<div *ngIf="projectControl.price_rate.errors.minlength">
													{{'projects.create.error_messages.message12' | translate }}</div>
												<div *ngIf="projectControl.price_rate.errors.pattern">
													{{'projects.create.error_messages.message13' | translate }}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="estimated_hours">{{'projects.create.fields.estimate_hours' | translate }}</label>
											<input type='text' class="form-control" formControlName="estimated_hours" placeholder="00:00"
												[ngClass]="{ 'is-invalid': isFormSubmitted && projectControl.estimated_hours.errors }">
											<div *ngIf="isFormSubmitted && projectControl.estimated_hours.errors" class="invalid-feedback">
												<div *ngIf="projectControl.estimated_hours.errors.pattern">
													{{'projects.create.error_messages.message11' | translate }}</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="project_hours">{{'projects.create.fields.project_hours' | translate }}</label><br>
											<div class="form-check checkbox-container">
												<input class="form-check-input" type="checkbox" formControlName="project_hours"
													id="project_hours">
												<label class="checkbox-checkmark" for="project_hours"></label>
												<span></span>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="!createProjectForm.get('project_hours').value">
										<div class="form-group">
											<label>{{'projects.create.fields.progress' | translate }}</label>
											<ng5-slider [options]="progressOptions" formControlName="progress"></ng5-slider>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'projects.create.fields.project_logo' | translate }}</label>
											<input type="hidden" formControlName="project_logo">
											<div class="dropzone dz-clickable" #logodropzone>
												<div class="dz-default dz-message">
													<span><strong>{{'projects.create.error_messages.message14' | translate }}</strong></span>
												</div>
											</div>
											<div class="people-lists text-center">
												<a *ngFor="let logo of logos;" (click)="setLogos(logo)" [ngClass]="{active: isActive(logo)}"
													class="btn btn-profile-info rounded-circle text-dark">
													<img src="{{apiUrl}}/uploads/project/{{logo}}" class="img-sm rounded-circle"
														alt="Project Logo" />
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" *ngIf="customFields.length > 0">
				<div class="card">
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-star"></i>{{'projects.headings.head4' | translate}}</h4>
								<div class="row mb-3">
									<div class="col-md-12">
										<app-show-custom-field-element [formArray]="'custom_field'"
											[controls]="createProjectForm.get('custom_field')" [customFields]="customFields"
											[isFormSubmitted]="isFormSubmitted" [formName]="createProjectForm">
										</app-show-custom-field-element>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="px-3">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-book"></i>{{'projects.headings.head5' | translate}}</h4>
								<div class="row mb-3">
									<div class="col-md-12">
										<label for="description">{{'projects.create.fields.description' | translate }}</label>
										<app-ngx-editor height="100px" minHeight="50px"
											[placeholder]="'projects.create.placeholders.placeholder11' | translate" [spellcheck]="true"
											formControlName="description" id="description">
										</app-ngx-editor>
									</div>
									<div class="col-md-12 text-right pt-3">
										<a [routerLink]="['/projects']" class="btn btn-cancel mb-0">{{'common.cancel' | translate }}</a>
										<button type="submit" class="btn btn-submit mb-0">{{'common.create' | translate }}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>